<!-- <div
class="tab-pane fade"
id="v-pills-6"
role="tabpanel"
aria-labelledby="v-pills-6-tab"
tabindex="0"
> -->
<section class="mb-3">
  <div class="mb-3">
    <h5 class="heading mb-2">Budgets headings</h5>
    <div class="section_items">
      <form [formGroup]="form" action="" method="get">
        <div class="row">
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="">Small Heading</label>
              <input
                type="text"
                class="form-control mt-1"
                id=""
                formControlName="smallHeading"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="Description"
                >Main Heading</label
              >
              <input
                type="text"
                class="form-control mt-1"
                id=""
                formControlName="mainHeading"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="mb-3">
    <h5 class="heading mb-2">Add new budget</h5>
    <div class="section_items">
      <form [formGroup]="budgetForm" action="" method="get">
        <div class="row align-items-end ">
          <div class="col-12 col-sm-6 col-md-5">
            <div class="form-group mb-2">
              <label for="">Roles Name</label>
              <input
                type="text"
                class="form-control mt-1"
                id=""
                formControlName="role"
              />
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-5">
            <div class="form-group mb-2">
              <label for="Description">Budget</label>
              <input
                type="text"
                class="form-control mt-1"
                id=""
                formControlName="budget"
              />
            </div>
          </div>
          <div class="col-md-2 text-end ">
            <button (click)="addBudget()" class="btn btn-primary mb-2"> Add </button>
          </div>
        </div>
        
      </form>
    </div>
  </div>

  <div class="mb-3">
    <h5 class="heading mb-2">Select from existing budgets - {{selectedBudgets}} Selected</h5>
    <div class="section_items d-flex flex-column gap-3">
        <div *ngFor="let item of budgets" class="d-flex align-items-center gap-3 justify-content-between">
            <input [checked]="item?.isSelected" (change)="selectBudget(item?._id)" type="checkbox" class="form-check-inline m-0" style="width: 16px;height: 16px;">
            <div class="border flex-grow-1 rounded p-2">
                <div class="row gy-md-0 align-items-center justify-content-between">
                    <div class="col-12 col-md-6">
                        <p class="mb-0 sub_heading">{{item?.role}}</p>
                    </div>
                    <div class="col-12 col-md-6 text-md-end">
                        <p class="mb-0 text-primary">{{item?.budget}} / resource</p>
                    </div>
                </div>
            </div>
            <!-- <button class="btn btn-sm bg-primary bg-opacity-10 squre_btn_lg">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                  </svg>
            </button> -->
            <button (click)="deleteItem(item?._id)" class="btn btn-sm btn_delete squre_btn_lg">
              <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 5.99988H5H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8 5.99988V4.99988C8 4.46963 8.21071 3.96086 8.58579 3.58579C8.96086 3.21071 9.46963 2.99988 10 2.99988H14C14.5304 2.99988 15.0391 3.21071 15.4142 3.58579C15.7893 3.96086 16 4.46963 16 4.99988V5.99988M19 5.99988V18.9999C19 19.7956 18.6839 20.5587 18.1213 21.1213C17.5587 21.6839 16.7956 21.9999 16 21.9999H8C7.20435 21.9999 6.44129 21.6839 5.87868 21.1213C5.31607 20.5587 5 19.7956 5 18.9999V5.99988H19Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </button>
        </div>
    </div>
  </div>

  <!-- all bottom button -->
  <div class="mt-3">
    <hr class="mt-0 mb-3" />
    <div
      class="d-flex align-items-center justify-content-between gap-2 flex-wrap"
    >
      <button
        class="btn btn-outline-primary btn_prev"
        type="button"
        (click)="previous()"
      >
        Previous
      </button>
      <button
        class="btn btn-primary btn_save"
        type="button"
        (click)="onSubmit()"
      >
        Save
      </button>

      <button
        class="btn btn-outline-primary btn-next"
        type="button"
        (click)="next()"
      >
        Next
      </button>
    </div>
  </div>
</section>
<!-- </div> -->