<div class="container-fluid mt-4">
    <div class="row g-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Workforce</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Dashboard
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-12">
            <div class="card border rounded-0  p-3">
                <div class="d-flex align-items-center justify-content-between gap-2 mb-3">
                    <h6 class="fw-medium d-inline-flex align-items-center gap-1 mb-0 flex-md-shrink-0 ">
                        <span
                            class="d-inline-flex align-items-center justify-content-center bg-primary text-white rounded-circle flex-shrink-0 "
                            style="width: 24px;height: 24px;">
                            1
                        </span>
                        Basic Details
                    </h6>
                    <hr class="my-0 w-100 ">
                    <h6 class="fw-medium d-inline-flex align-items-center gap-1 mb-0 flex-md-shrink-0 ">
                        <span
                            class="d-inline-flex align-items-center justify-content-center bg-secondary  text-white rounded-circle flex-shrink-0 "
                            style="width: 24px;height: 24px;">
                            2
                        </span>
                        Company Location
                    </h6>
                </div>
                <form action="">
                    <div class="row g-3">
                        <div class="col-12 col-md-5 col-lg-4">
                            <div class="card border rounded-0 position-relative ">
                                <div class="card-img rounded-0 bg-light w-100 position-relative mb-4"
                                    style="height: 220px;">
                                    <!-- edit button -->
                                    <button
                                        class="btn btn-sm btn-primary position-absolute rounded-circle d-inline-flex align-items-center justify-content-center p-0"
                                        style="top: 12px;right: 12px;width: 24px;height: 24px;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                            viewBox="0 0 13 13" fill="none">
                                            <path
                                                d="M5.97398 2.17188H2.10533C1.81218 2.17188 1.53103 2.28833 1.32374 2.49562C1.11645 2.70291 1 2.98405 1 3.2772V11.0145C1 11.3077 1.11645 11.5888 1.32374 11.7961C1.53103 12.0034 1.81218 12.1198 2.10533 12.1198H9.84264C10.1358 12.1198 10.4169 12.0034 10.6242 11.7961C10.8315 11.5888 10.948 11.3077 10.948 11.0145V7.14586"
                                                stroke="white" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M10.1184 1.34338C10.3383 1.12352 10.6365 1 10.9474 1C11.2583 1 11.5565 1.12352 11.7764 1.34338C11.9963 1.56325 12.1198 1.86145 12.1198 2.17238C12.1198 2.48331 11.9963 2.78151 11.7764 3.00138L6.52609 8.2517L4.31543 8.80436L4.86809 6.5937L10.1184 1.34338Z"
                                                stroke="white" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                    </button>

                                    <!-- img icon -->
                                    <div class="position-absolute rounded-circle bg-primary d-flex align-items-center  justify-content-center"
                                        style="bottom: -24px;left: 12px;width: 50px;height: 50px;">
                                        <img src="../../img/add-photo 1.png" class="img-fluid" alt="">
                                    </div>
                                </div>
                                <div class="card-body p-3 mt-2">
                                    <div class="row g-3">
                                        <div class="col-12">
                                            <input type="text" class="form-control rounded-0 "
                                                placeholder="Organization Name *">
                                        </div>
                                        <div class="col-12">
                                            <input type="text" class="form-control rounded-0"
                                                placeholder="Slug / Unique ID *">
                                            <small>It will used to generate links</small>
                                        </div>
                                        <div class="col-12">
                                            <div class="position-relative">
                                                <input type="text" class="form-control rounded-0 "
                                                    placeholder="Website *">
                                                <span class="position-absolute top-50 translate-middle-y "
                                                    style="right: 12px;">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="8"
                                                        viewBox="0 0 18 9" fill="none">
                                                        <path
                                                            d="M10.8 1H12.9C13.3596 1 13.8148 1.09053 14.2394 1.26642C14.664 1.44231 15.0499 1.70012 15.3749 2.02513C15.6999 2.35013 15.9577 2.73597 16.1336 3.16061C16.3095 3.58525 16.4 4.04037 16.4 4.5C16.4 4.95963 16.3095 5.41475 16.1336 5.83939C15.9577 6.26403 15.6999 6.64987 15.3749 6.97487C15.0499 7.29988 14.664 7.55769 14.2394 7.73358C13.8148 7.90947 13.3596 8 12.9 8H10.8M6.6 8H4.5C4.04037 8 3.58525 7.90947 3.16061 7.73358C2.73597 7.55769 2.35013 7.29988 2.02513 6.97487C1.36875 6.3185 1 5.42826 1 4.5C1 3.57174 1.36875 2.6815 2.02513 2.02513C2.6815 1.36875 3.57174 1 4.5 1H6.6"
                                                            stroke="#696969" stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                        <path d="M5.89941 4.5H11.4994" stroke="#696969" stroke-width="2"
                                                            stroke-linecap="round" stroke-linejoin="round" />
                                                    </svg>
                                                </span>
                                            </div>
                                            <small>https://www.website-name.com</small>
                                        </div>
                                        <div class="col-12">
                                            <input type="text" class="form-control rounded-0 " placeholder="Tagline">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7 col-lg-8">
                            <div class="row g-3">
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <input type="text" class="form-control rounded-0 " placeholder="No. of Resources / Vacancies">
                                </div>
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <select id="my-select" class="form-select rounded-0 " name="">
                                        <option value="">Industry</option>
                                        <option value="">Industry 1</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <select id="my-select" class="form-select rounded-0 " name="">
                                        <option value="">Company Type *</option>
                                        <option value="">Company Type 1</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <select id="my-select" class="form-select rounded-0 " name="">
                                        <option value="">Organization Type *</option>
                                        <option value="">Organization Type 1</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <select id="my-select" class="form-select rounded-0 " name="">
                                        <option value="">Headcount *</option>
                                        <option value="">Headcount 1</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <select id="my-select" class="form-select rounded-0 " name="">
                                        <option value="">Origin Country *</option>
                                        <option value="">Origin Country 1</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-12 col-lg-6">
                                    <input type="number" class="form-control rounded-0 " placeholder="GST Number">
                                </div>
                                <div class="col-12">
                                    <textarea name="" id="" cols="30" rows="3" placeholder="Describe about your organization" class="form-control rounded-0 "></textarea>
                                    <small>Required minimum 150 Characters</small>
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control rounded-0 " placeholder="Services">
                                </div>
                                <div class="col-12">
                                    <div class="d-flex align-ic justify-content-end gap-3">
                                        <button class="btn btn-light rounded-0 pxp-3" type="button">Reset</button>
                                        <button class="btn btn-secondary  rounded-0 px-4" type="button">Next</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <div class="container-fluid mt-4">
        <div class="row g-4">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#">Workforce</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Dashboard
                        </li>
                    </ol>
                </nav>
            </div>
            <div class="col-12">
                <div class="card border rounded-0  p-3">
                    <div class="d-flex align-items-center justify-content-between gap-2 mb-3">
                        <h6 class="fw-medium d-inline-flex align-items-center gap-1 mb-0 flex-md-shrink-0 ">
                            <span
                                class="d-inline-flex align-items-center justify-content-center bg-secondary text-white rounded-circle flex-shrink-0 "
                                style="width: 24px;height: 24px;">
                                1
                            </span>
                            Basic Details
                        </h6>
                        <hr class="my-0 w-100 ">
                        <h6 class="fw-medium d-inline-flex align-items-center gap-1 mb-0 flex-md-shrink-0 ">
                            <span
                                class="d-inline-flex align-items-center justify-content-center bg-primary text-white rounded-circle flex-shrink-0 "
                                style="width: 24px;height: 24px;">
                                2
                            </span>
                            Company Location
                        </h6>
                    </div>
                    <form action="">
                        <div class="row gy-4">
                            <div class="col-12">
                                <input type="text" class="form-control rounded-0 " placeholder="Branch *">
                            </div>

                            <div class="col-12">
                                <h6 class="mb-2 fw-medium ">Contact Details</h6>
                                <div class="row g-3">
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <input type="text" class="form-control rounded-0 " placeholder="Department/Contact person *">
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <input type="email" class="form-control rounded-0 " placeholder="Email *">
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <input type="number" class="form-control rounded-0 " placeholder="Phone *">
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <select name="" id="" class="form-select rounded-0 ">
                                            <option value="">Pincode</option>
                                            <option value="">89891</option>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn link-primary mt-1 btn-sm p-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 22 22" fill="none">
                                        <path d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z" stroke="#28B1E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M11 7V15" stroke="#28B1E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M7 11H15" stroke="#28B1E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                      </svg>
                                    Add more
                                </button>
                            </div>
                            <div class="col-12">
                                <h6 class="mb-2 fw-medium ">Address</h6>
                                <div class="row g-3">
                                    <div class="col-12 col-sm-6">
                                        <input type="text" class="form-control rounded-0 " placeholder="Address line 1 *">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <input type="text" class="form-control rounded-0 " placeholder="Address line 2">
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <select name="" id="" class="form-select rounded-0 ">
                                            <option value="" disabled selected>Country</option>
                                            <option value="">India</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <select name="" id="" class="form-select rounded-0 ">
                                            <option value="" disabled selected>State *</option>
                                            <option value="">U.P</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <select name="" id="" class="form-select rounded-0 ">
                                            <option value="">City *</option>
                                            <option value="">Noida</option>
                                        </select>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <select name="" id="" class="form-select rounded-0 ">
                                            <option value="">Pincode</option>
                                            <option value="">89891</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <hr class="w-100 my-2">
                                    </div>
                                    <div class="col-12 text-center ">
                                        <button class="btn link-primary btn-sm p-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 22 22" fill="none">
                                                <path d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z" stroke="#28B1E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M11 7V15" stroke="#28B1E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                <path d="M7 11H15" stroke="#28B1E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                              </svg>
                                              Add New Location
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex align-ic justify-content-end gap-3">
                                    <button class="btn btn-light rounded-0 px-3" type="button">Reset</button>
                                    <button class="btn btn-secondary  rounded-0 px-4" type="button">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>