<!-- <div class="col-12 col-md-6 col-lg-12 col-xl-6"> -->
    <div class="section_items p-4">
      <!-- <h5 class="sub_heading mb-2">Logo 1</h5> -->
      <div class="row align-items-center">
        <div class="col-12 mb-1">
          <div class="text-center">
            <div class="banner_img_wrapper p-3">
              <img
                src="../img/icons/upload.png"
                alt=""
                class="mx-auto img-fluid upload_icon"
              />
              <h6 class="mb-1 fs-18 fw-500">
                Drag and drop your fles here
              </h6>
              <p class="text-muted mb-0">
                Files supported JPG, PNG
              </p>
              <p class="mb-0">OR</p>
              <label
                for="browse_files"
                class="btn btn-sm browse_files mt-3"
                >Browse files</label
              >
              <input
                type="file"
                class="form-control d-none"
                id="browse_files"
                (change)="selectFile($event)"
              />
              <p class="mb-0 mt-1 text-muted">
                maximum size 1 mb
              </p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <!-- uploaded_files_show -->
          <div *ngIf="selectedLogo" class="uploaded_files_show">
            <div class="card">
              <div class="row align-items-center">
                <div class="col-12 col-sm-7">
                  <div
                    class="d-flex gap-2 align-items-center"
                  >
                    <div
                      class="squre_btn_xl bg-primary"
                    >
                      <img
                        src="../img/icons/bug.png"
                        alt=""
                        class="img-fluid"
                        style="
                          width: 24px;
                          aspect-ratio: 1;
                        "
                      />
                    </div>
                    <div class="align-self-center">
                      <h6 class="mb-0 sub_heading">
                        {{selectedLogo?.name}}
                      </h6>
                      <p
                        class="mb-0 fs-12 text-muted d-flex align-items-center gap-2"
                      >
                        <span>12/12/2022</span>
                        <span>|</span>
                        <span>1.7mb</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  class="col-12 col-sm-5 text-sm-end"
                >
                  <div
                    class="d-flex align-items-center justify-content-end gap-1"
                  >
                    <button
                      class="btn squre_btn_md btn_show"
                      type="button"
                    >
                      <svg
                        width="16"
                        height="12"
                        viewBox="0 0 16 12"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 6.09091C1 6.09091 3.54545 1 8 1C12.4545 1 15 6.09091 15 6.09091C15 6.09091 12.4545 11.1818 8 11.1818C3.54545 11.1818 1 6.09091 1 6.09091Z"
                          stroke="#000"
                          stroke-width="1"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.99991 8.00001C9.05427 8.00001 9.909 7.14528 9.909 6.09091C9.909 5.03655 9.05427 4.18182 7.99991 4.18182C6.94555 4.18182 6.09082 5.03655 6.09082 6.09091C6.09082 7.14528 6.94555 8.00001 7.99991 8.00001Z"
                          stroke="#000"
                          stroke-width="1"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </button>
                    <button
                      class="btn squre_btn_md btn_delete"
                      type="button"
                    >
                      <svg
                        width="14"
                        height="15"
                        viewBox="0 0 14 15"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1.15381 3.54102H2.42304H12.5769"
                          stroke="#000"
                          stroke-width="1"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M11.307 3.53846V12.4231C11.307 12.7597 11.1733 13.0825 10.9352 13.3206C10.6972 13.5586 10.3744 13.6923 10.0377 13.6923H3.69159C3.35497 13.6923 3.03214 13.5586 2.79411 13.3206C2.55609 13.0825 2.42236 12.7597 2.42236 12.4231V3.53846M4.32621 3.53846V2.26923C4.32621 1.93261 4.45993 1.60978 4.69796 1.37175C4.93599 1.13372 5.25882 1 5.59544 1H8.1339C8.47052 1 8.79336 1.13372 9.03138 1.37175C9.26941 1.60978 9.40313 1.93261 9.40313 2.26923V3.53846"
                          stroke="#000"
                          stroke-width="1"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M5.5957 6.71484V10.5225"
                          stroke="#000"
                          stroke-width="1"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M8.13379 6.71484V10.5225"
                          stroke="#000"
                          stroke-width="1"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </button>


                  </div>
                </div>

              </div>
            </div>
          </div>
          <button type="button" (click)="addLogo()" class="btn btn-primary mt-4"> Add </button>
        </div>
      </div>
    </div>
  <!-- </div> -->