<div class="container-fluid py-4">
    <div class="row">
      <!-- <div class="offset-xl-2 col-xl-10"> -->
      <div>
        <div class="container-fluid">
          <div class="row gy-4 align-items-center">
            <div class="col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Workforce</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    project proposals
                  </li>
                </ol>
              </nav>
            </div>
            <div class="col-xxl-12">
              <div class="row g-3">
                <div class="col-12 col-md-7">
                  <h6 class="mb-0">Proposals</h6>
                </div>
                <div class="col-12 col-md-5">
                  <div
                    class="d-flex align-items-center justify-content-end gap-2 flex-wrap"
                  >
                    <select
                      name=""
                      id=""
                      class="form-select rounded-pill ps-3"
                      style="width: 110px"
                     
                    >
                    <option value="" selected disabled>Sort</option>
                    <option value="latest">Latest</option>
                    <option value="oldest">Oldest</option>
                    </select>
                    <button
                      class="btn btn-primary px-4"
                      type="button"
                      (click)="uploadNewProposal()"
                    >
                      New
                    </button>
                  </div>
                </div>
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Proposal</th>
                          <th>Company Name</th>
                          <th>Remark</th>
                          <th>Sent on</th>
                          <th>Status</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of proposals">
                          <td>{{item?.job_data[0].job_title}}</td>
                          <td>{{item?.company_data[0].company_name}}</td>
                          <td>{{item?.remarks}}</td>
                          <td>{{item?.sent_on | date : "dd-MM-yyyy"}}</td>
                          <td>{{item?.status}}</td>
                          <td>
                            <a [href]="item?.proposal_file" class="btn p-0 btn-sm" download>
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="15"
                                height="15"
                                viewBox="0 0 16 16"
                                fill="none"
                              >
                                <path
                                  d="M14.9989 10.332V13.4429C14.9989 13.8554 14.835 14.251 14.5433 14.5427C14.2516 14.8344 13.856 14.9983 13.4434 14.9983H2.55543C2.1429 14.9983 1.74727 14.8344 1.45557 14.5427C1.16388 14.251 1 13.8554 1 13.4429V10.332"
                                  stroke="#339F00"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                                <path
                                  d="M4.1109 6.44531L7.99947 10.3339L11.888 6.44531"
                                  stroke="#339F00"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                                <path
                                  d="M7.99945 10.3326V1"
                                  stroke="#339F00"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>