<!-- services -->
<section class="services_sec mb-3 client">
  <!-- client logo -->
  <div class="row gy-3">
    <!-- Picture 1 -->
    <div *ngFor="let img of logos" class="col-3">
      <div class="gallery-item position-relative">
        <img [src]="img?.logo" alt="" />
        <!-- Delete button -->
        <button (click)="deleteLogo(img?._id)" class="btn btn-sm delete-btn btn-light p-1">
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 5.99988H5H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8 5.99988V4.99988C8 4.46963 8.21071 3.96086 8.58579 3.58579C8.96086 3.21071 9.46963 2.99988 10 2.99988H14C14.5304 2.99988 15.0391 3.21071 15.4142 3.58579C15.7893 3.96086 16 4.46963 16 4.99988V5.99988M19 5.99988V18.9999C19 19.7956 18.6839 20.5587 18.1213 21.1213C17.5587 21.6839 16.7956 21.9999 16 21.9999H8C7.20435 21.9999 6.44129 21.6839 5.87868 21.1213C5.31607 20.5587 5 19.7956 5 18.9999V5.99988H19Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
    </div>


    <!-- Add more button -->
    <div class="col-12 text-center mt-3">
      <div class="d-flex align-items-center justify-content-center gap-4 mb-2">
        <h6 class="mb-0 fw-600 sub_heading">Add more logo</h6>
        <button
          (click)="openModal()"
          class="btn btn-outline-primary add_primary"
        >
          <svg
            width="22"
            height="22"
            viewBox="0 0 22 22"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11 21C16.5228 21 21 16.5228 21 11C21 5.47715 16.5228 1 11 1C5.47715 1 1 5.47715 1 11C1 16.5228 5.47715 21 11 21Z"
              stroke="#0D75D5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11 7V15"
              stroke="#0D75D5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M7 11H15"
              stroke="#0D75D5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span class="ms-1">Add</span>
        </button>
      </div>
    </div>
  </div>


</section>
