.gallery-item {
    width: 100%;
    aspect-ratio: 1;
    margin: 10px;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden; /* Optional: Hide overflowing parts of the image */
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Optional: Ensure the image covers the entire container */
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px; /* Adjust width */
    height: 30px; /* Adjust height */
    border: none;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%; /* Optional: Make the button circular */
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn svg {
    width: 60%; /* Adjust size of the SVG icon */
    height: 60%;
    fill: white; /* Set color of the SVG icon */
}
