<header class="px-2 py-3 border-bottom">
    <div class="d-flex justify-content-between align-items-center">
        <button (click)="sideNavControl.toggleSideNav()" class="btn btn-sm btn-outline-primary">
            {{sideNavControl.Toggle}} navbar
        </button>

        <button class="btn btn-sm btn-outline-primary float-right" (click)="logout()">
            Logout
        </button>
    </div>

</header>