<div class="row g-3">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-6">
        <div
            class="card p-3 shadow border-0 h-140px align-items-center justify-content-center text-center">
            <h5 class="mb-1 fs-4 fw-bold" style="color: #1B2CCA;"> {{requests}} </h5>
            <span>Total Requests</span>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-6">
        <div
            class="card p-3 shadow border-0 h-140px align-items-center justify-content-center text-center">
            <h5 class="mb-1 fs-4 fw-bold" style="color: #1B2CCA;"> {{publishedProjects}}</h5>
            <span>Total Job published</span>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-6">
        <div
            class="card p-3 shadow border-0 h-140px align-items-center justify-content-center text-center">
            <h5 class="mb-1 fs-4 fw-bold" style="color: #1B2CCA;"> {{sentProposals}}</h5>
            <span>Proposal Sent</span>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-6">
        <div
            class="card p-3 shadow border-0 h-140px align-items-center justify-content-center text-center">
            <h5 class="mb-1 fs-4 fw-bold" style="color: #1B2CCA;"> {{acceptedProposals}}</h5>
            <span>Proposal Accepted</span>
        </div>
    </div>
</div>