<div class="container-fluid py-4">
    <div class="row">
      <!-- <div class="offset-xl-2 col-xl-10"> -->
      <div >
        <!-- copy -->
        <div class="container-fluid">
          <div class="row g-4">
            <div class="col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Workforce</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Dashboard
                  </li>
                </ol>
              </nav>
            </div>
  
            <div class="col-12">
              <div class="card p-3 p-md-4 p-xxl-5 border-0 shadow">
                <h6 class="mb-3 fw-bold fs-18">Job details</h6>
                <hr class="mb-4 mt-0" />
  
                <form
                  (ngSubmit)="onNext()"
                  [formGroup]="form"
                  class="job-details-form"
                >
                  <div class="row g-4">
                    <div class="col-12 col-sm-6">
                      <label for="job_resources_required"
                        >No. of Resources / Vacancies</label
                      >
                      <input type="text" id="job_resources_required" formControlName="job_resources_required" class="form-control rounded-0" />
                      <div *ngIf="form.get('job_resources_required')?.invalid && (form.get('job_resources_required')?.dirty || form.get('job_resources_required')?.touched)"
                      class="text-danger">No of resources is required.
</div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <label for="job_duration"
                        >Time Peried <small>(days)</small></label
                      >
                      <input type="text" id="job_duration" formControlName="job_duration" class="form-control rounded-0" />
                      <div *ngIf="form.get('job_duration')?.invalid && (form.get('job_duration')?.dirty || form.get('job_duration')?.touched)"
                                             class="text-danger">Job Time period is required.
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <label for="job_experience"
                        >Experience <small>(Optional)</small></label
                      >
                      <select id="job_experience" formControlName="job_experience" class="form-select rounded-0">
                        <option value="" selected disabled>select</option>
                        <option value="&lt;1 year">&lt;1 year</option>
                        <option value=" >1 year"> >1 year</option>
                        <option value=" >23 year"> >2 years</option>
                      </select>
                      <div *ngIf="form.get('job_experience')?.invalid && (form.get('job_experience')?.dirty || form.get('job_experience')?.touched)"
                                             class="text-danger">Job Experience is required.
                      </div>
                    </div>
                    <div class="col-12 col-md-6">
                      <div class="row g-3">
                        <div class="col-12 col-sm-6">
                          <label for="job_stipend">Stipend</label>
                          <input type="text" id="job_stipend" formControlName="job_stipend" class="form-control rounded-0" />
                          <div *ngIf="form.get('job_stipend')?.invalid && (form.get('job_stipend')?.dirty || form.get('job_stipend')?.touched)"
                                             class="text-danger">Job Stipend is required.
                      </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="job_skills"
                        >Skills <small>(minimum 4 skills)</small></label
                      >
                      <select #selectElement (change)="selectSkill($event)" id="job_skills" formControlName="job_skills" class="form-select rounded-0">
                        <option value="" selected disabled>select</option>
                        <option *ngFor="let item of skills" [value]="item">{{item}}</option>
                      </select>
                      <div *ngIf="form.get('job_skills')?.invalid && (form.get('job_skills')?.dirty || form.get('job_skills')?.touched)"
                                             class="text-danger">Job Skills is required.
                      </div>
                      <div class="d-flex align-items-center flex-wrap gap-2 mt-2">
                        <span
                          *ngFor="let item of selectedSkills"
                          class="badge fw-semibold px-2 py-1 rounded-pill text-primary bg-primary bg-opacity-10"
                          >{{item}}</span
                        >
                      </div>
                    </div>
                    <div class="col-12">
                      <div
                        class="d-flex flex-wrap gap-2 align-items-center justify-content-between"
                      >
                        <button class="btn" (click)="moveBack()" type="reset">Back</button>
                        <div
                          class="d-flex align-items-center justify-content-between gap-2"
                        >
                          <button class="btn" routerLink="/organization/jobs/list-jobs" type="button">Cancel</button>
                          <button class="btn btn-primary px-3" [disabled]="!form.valid" type="submit">
                            Next
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  