
<!-- <div class="modal-dialog modal-lg"> -->
  <div class="modal-content">

    <div class="modal-header justify-content-center">
      <div>
        <h2 class="w-100 mb-0 fs-5 text-center" id="publishLabel">
          Edit Details
        </h2>
        <small>Edit the Job Details Before publishing it</small>
      </div>
      <button
        type="button"
        class="btn-close position-absolute small"
        data-bs-dismiss="modal"
        aria-label="Close"
        style="top: 18px; right: 16px"
        (click)="closeModal()"
      ></button>
    </div>

    <form (ngSubmit)="onSubmit()" [formGroup] = "form"> 
    <div class="modal-body">
      <div class="row g-3">
        <div class="col-12">
          <label for="">Job Title</label>
          <input
            type="text"
            class="form-control"
            placeholder="Python Developer"
            formControlName="job_title"
          />
        </div>
        <div class="col-12 col-sm-6">
          <label for="job_skills"
                        >Skills <small>(minimum 4 skills)</small></label
                      >
                      <select #selectElement (change)="selectSkill($event)" id="job_skills"  class="form-select rounded-0">
                        <option value="" selected disabled>Add more skills</option>
                        <option *ngFor="let item of skills" [value]="item">{{item}}</option>
                      </select>
                      <div class="d-flex align-items-center flex-wrap gap-2 mt-2">
                        <span
                          *ngFor="let item of selectedSkills"
                          class="badge fw-semibold px-2 py-1 rounded-pill text-primary bg-primary bg-opacity-10"
                          >{{item}}</span
                        >
                      </div>
        </div>
        <div class="col-12 col-sm-6">
          <label for="">Location</label>
          <input
            type="text"
            class="form-control"
            placeholder="Odisha, Delhi"
            formControlName="job_location"
          />
        </div>
        <div class="col-12 col-sm-6">
          <label for="">Time Period</label>
          <input type="text" class="form-control" formControlName="job_duration" placeholder="Duration" />
        </div>
        <div class="col-12 col-sm-6">
          <label for="">Job Deadline</label>
          <input type="date" class="form-control" formControlName="job_deadline" />
        </div>
        <div class="col-12 col-sm-6">
          <label for="">Stipend reduction percentage</label>
          <input type="number" class="form-control" placeholder="Add %" formControlName="stipend_reduction_percentage" />
        </div>
        <div class="col-12">
          <h6 class="fw-semibold">Job Description</h6>
          <div class="d-flex flex-column gap-2">
            <div
              class="d-flex align-items-center justify-content-between"
            >
              <label for="check1" class="d-flex align-items-center">
                <input
                  type="checkbox"
                  class="form-check-inline me-2"
                  id="check1"
                  style="width: 18px; height: 18px"
                  [checked]="isFileCheckBoxTicked"
                  (change)="toggleCheckBox()"
                />
                Add the Scope of work file as it is.
              </label>
              <button type="button" *ngIf="!isFileCheckBoxTicked"  (click)="fileInput.click()" class="btn btn-sm btn-light">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="18"
                  height="22"
                  viewBox="0 0 18 22"
                  fill="none"
                >
                  <path
                    d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z"
                    stroke="#28B1E6"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M11 1V7H17"
                    stroke="#28B1E6"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M9 17V11"
                    stroke="#28B1E6"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6 14H12"
                    stroke="#28B1E6"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>

              <input #fileInput type="file" style="display: none;" (change)="selectedFiles($event)" multiple/>
            </div>

            <div
              class="d-flex align-items-center justify-content-between"
              *ngIf="scopeOfWorkFiles"
            >
            <div *ngFor="let file of scopeOfWorkFiles" class="d-flex align-items-center"> 
              <label  for="check1" >
                <img
                  src="../../img/attachment (2) 1 (1).png"
                  class="img-fluid me-2"
                  alt=""
                  style="width: 18px; height: 18px"
                />
                {{file?.name}}
              </label>


              <button type="button" class="btn btn-sm squre-md opacity_btn_delete p-0">
                <!-- delete -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="14"
                  height="14"
                  viewBox="0 0 16 17"
                  fill="none"
                >
                  <path
                    d="M1 3.99805H2.5H14.5"
                    stroke="#E01B1B"
                    stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M13 4V14.5C13 14.8978 12.842 15.2794 12.5607 15.5607C12.2794 15.842 11.8978 16 11.5 16H4C3.60218 16 3.22064 15.842 2.93934 15.5607C2.65804 15.2794 2.5 14.8978 2.5 14.5V4M4.75 4V2.5C4.75 2.10218 4.90804 1.72064 5.18934 1.43934C5.47064 1.15804 5.85218 1 6.25 1H9.25C9.64783 1 10.0294 1.15804 10.3107 1.43934C10.592 1.72064 10.75 2.10218 10.75 2.5V4"
                    stroke="#E01B1B"
                    stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6.25 7.74805V12.248"
                    stroke="#E01B1B"
                    stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M9.24805 7.74805V12.248"
                    stroke="#E01B1B"
                    stroke-width="1.2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>

            </div>
            </div>


          </div>
        </div>
        <div class="col-12">
          <label for="">Any Additional information</label>
          <textarea
            name=""
            id=""
            cols="30"
            rows="4"
            class="form-control"
            placeholder="Write here"
            formControlName="job_additional_info"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer border-top-0 justify-content-center">
      <button
        type="button"
        class="btn btn-ligh px-3"
        data-bs-dismiss="modal"
      >
        Cancel
      </button>
      <button
        type="submit"
        class="btn btn-primary px-4"
        [disabled]="isSubmitted"
      >
        Publish
      </button>
    </div>
</form>
  </div>
<!-- </div> -->
