<!-- <p> working too</p> -->
<div class="sidenav-gradient">
    <nav>
        <div class="d-flex justify-content-end d-xl-none mb-3">
            <button
                (click)="sideNavControl.setSideNavIsExpanded(false)"
                class="border-0 bg-transparent p-0"
            >
                <i class="bi bi-x-lg"></i>
            </button>
        </div>

        <ul>
            <ng-container *ngFor="let item of sideNavControl.navItems$ | async">
            <li
                *ngIf="item.visible"
                [ngClass]="{ 'no-image': !item.iconPath }"
            >
                <a
                    *ngIf="item.type === 'link'"
                    [routerLink]="item.path"
                    routerLinkActive="text-primary"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="d-flex align-items-center gap-3"
                    [ngClass]="{ 'd-flex': !!item.iconPath }"
                >
                    <!-- <img
                        *ngIf="item.iconPath"
                        [ngSrc]="item.iconPath"
                        width="20"
                        height="20"
                        alt=""
                    /> -->
                    {{ item.label }}
                </a>

                <app-sidenav-dropdown-item
                    *ngIf="item.type === 'dropdown' && item.visible"
                    [dropdownItem]="item"
                ></app-sidenav-dropdown-item>
            </li>
            </ng-container>
        </ul>
    </nav>
</div>
