.sidenav-gradient {
    // background: linear-gradient(45deg, #0f0f0f, #ffffff);
    height: 100vh;
    min-width: 260px;
    // padding: 1px;
    display: flex;
    border-right: 1px solid var(--bs-border-color);
    // border-top-right-radius: 13px;
    // border-bottom-right-radius: 13px;

    nav {
        background-color: white;
        flex: auto;
        overflow: hidden auto;
        padding: 24px;

        @media (max-width: 1200px) {
            padding-top: 14px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            color: inherit;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            &.no-image {
                list-style: disc inside;
            }

            &:not(:last-child) {
                padding-bottom: 16px;
                border-bottom: 1px solid var(--bs-border-color);
                margin-bottom: 16px;
            }

            a {
                color: inherit;
                text-decoration: none;
                &:hover{
                    color: rgba(var(--bs-primary-rgb) , 1);
                }
            }
        }
    }
}
