<!-- <div
class="tab-pane fade"
id="v-pills-settings"
role="tabpanel"
aria-labelledby="v-pills-settings-tab"
tabindex="0"
> -->
<section class="mb-3">
  <form (ngSubmit)="onSubmit()" [formGroup]="form" action="" method="get">
  <div class="mb-3">
    <!-- input fealds -->
    <h5 class="sub_heading mb-2">
      Steps main headings
    </h5>
    <div class="section_items">
        <div class="row">
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="">Small Heading</label>
              <input
                type="text"
                class="form-control mt-1"
                id=""
                formControlName="smallHeading"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="Description"
                >Main Heading</label
              >
              <input
                type="text"
                class="form-control mt-1"
                id=""
                formControlName="mainHeading"
              />
            </div>
          </div>
        </div>
      
    </div>
  </div>
  <div class="mb-3">
    <!-- input fealds -->
    <h5 class="sub_heading mb-2">Step 1</h5>
    <div formGroupName="step1" class="section_items">
      
        <div class="row">
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="">Heading</label>
              <input
                type="text"
                class="form-control mt-1"
                id=""
                formControlName="heading"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="Description"
                >Description</label
              >
              <textarea
                name=""
                class="form-control"
                id=""
                cols="30"
                rows="3"
                formControlName="description"
              ></textarea>
            </div>
          </div>
        </div>
      
    </div>
  </div>
  <div class="mb-3">
    <!-- input fealds -->
    <h5 class="sub_heading mb-2">Step 2</h5>
    <div formGroupName="step2" class="section_items">
      
        <div class="row">
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="">Heading</label>
              <input
                type="text"
                class="form-control mt-1"
                id=""
                formControlName="heading"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="Description"
                >Description</label
              >
              <textarea
                name=""
                class="form-control"
                id=""
                cols="30"
                rows="3"
                formControlName="description"
              ></textarea>
            </div>
          </div>
        </div>
      
    </div>
  </div>
  <div class="mb-3">
    <!-- input fealds -->
    <h5 class="sub_heading mb-2">Step 3</h5>
    <div formGroupName="step3" class="section_items">
      <form action="" method="get">
        <div class="row">
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="">Heading</label>
              <input
                type="text"
                class="form-control mt-1"
                id=""
                formControlName="heading"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="Description"
                >Description</label
              >
              <textarea
                name=""
                class="form-control"
                id=""
                cols="30"
                rows="3"
                formControlName="description"
              ></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- all bottom button -->
  <div class="mt-3">
    <hr class="mt-0 mb-3" />
    <div
      class="d-flex align-items-center justify-content-between gap-2 flex-wrap"
    >
      <button
        class="btn btn-outline-primary btn_prev"
        type="button"
        (click)="previous()"
      >
        Previous
      </button>
      <button
        class="btn btn-primary btn_save"
        type="submit"
      >
        Save
      </button>

      <button
        class="btn btn-outline-primary btn-next"
        type="button"
        (click)="next()"
      >
        Next
      </button>
    </div>
  </div>
</form>
</section>
