<div class="modal-body p-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" action="">
    <div class="row g-3">
      <div class="col-12 text-center mb-3">
        <h6 class="fs-5 fw-semibold  mb-2">Rattings</h6>
        <div class="d-flex align-items-center justify-content-center gap-1">
          <svg *ngFor="let i of [1, 2, 3, 4, 5]" (click)="setUserRating(i)" xmlns="http://www.w3.org/2000/svg"
            width="20" height="20" viewBox="0 0 24 24" [attr.fill]="isStarFilled(i) ? 'gold' : 'grey'">
            <path
              d="M12.5085 0L15.3168 8.64314H24.4047L17.0524 13.9849L19.8608 22.628L12.5085 17.2863L5.15618 22.628L7.9645 13.9849L0.612208 8.64314H9.70015L12.5085 0Z" />
          </svg>
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <label for="">Your Name</label>
        <input type="text" class="form-control rounded-0" placeholder="Your Name" name=""
          formControlName="posted_by" />
        <small
          *ngIf="form.get('posted_by')?.invalid && (form.get('posted_by')?.dirty || form.get('posted_by')?.touched)"
          class="text-danger">Name is required.
        </small>
      </div>
      <div class="col-12 col-sm-6">
        <label for="">Designation in the company</label>
        <input type="text" class="form-control rounded-0" placeholder="Ex. CTO or CEO" name=""
          formControlName="designation" />
        <small
          *ngIf="form.get('designation')?.invalid && (form.get('designation')?.dirty || form.get('designation')?.touched)"
          class="text-danger">Designation is required.
        </small>
      </div>
      <div class="col-12">
        <label for="">Feedback</label>
        <textarea class="form-control rounded-0" name="" id="" cols="30" rows="3"
          placeholder="Write your feedback about your expereince." formControlName="feedback"></textarea>
        <small
          *ngIf="form.get('feedback')?.invalid && (form.get('feedback')?.dirty || form.get('feedback')?.touched)"
          class="text-danger">Feedback is required.
        </small>
      </div>
    </div>

    <div class="modal-footer border-top-0 justify-content-center gap-2">
      <button type="button" class="btn btn-light px-3">Cancel</button>
      <button type="submit" class="btn btn-primary px-4" [disabled]="!form.valid || isSubmitted">Submit</button>
    </div>
  </form>
</div>