<div class="mt-3 h-100">
    <div class="row align-items-center g-3 g-sm-0 mt-n-2 mb-1">
        <div class="col-12 col-sm-8">
            <h6 class="mb-0 fw-semibold">Recent Requests</h6>
        </div>
        <div class="col-12 col-sm-4 text-end">
            <button routerLink="/workforce-admin/project-requests/list" class="btn fst-italic btn-sm link-primary ">View all</button>
        </div>
    </div>
    <div class="card shadow border-0 p-2 recent_requests_tbl">
        <div class="table-responsive">
            <table class="table table-transparent mb-0">
                <thead class="bg-light ">
                    <tr>
                        <th>Jobs Title</th>
                        <th>Company Name</th>
                        <th class="text-center">Location</th>
                        <th class="text-center">No. of Resourses</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let request of requestsList">
                        <td>{{request.job_title}}</td>
                        <td>{{request.company_data[0].company_name}}</td>
                        <td class="text-center ">{{request.company_data[0].company_location}}</td>
                        <td class="text-center">
                            {{request.job_resources_required}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>