<div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-3 col-xl-2 bg-dark"></div>
      <div class="col-12 col-lg-9 col-xl-10">
        <div class="row">
          <div class="col-12">
            <div class="landing">
              <div class="row g-3">

                <!-- nav items  -->
                <div class="col-12 col-lg-4 col-xl-3">
                  <div class="bg-white p-2 sticky_top">
                    <div
                      class="nav flex-column nav-pills"
                      id="v-pills-tab"
                      role="tablist"
                      aria-orientation="vertical"
                    >

                      <button
                        class="nav-link active"
                        id="v-pills-home-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-home"
                        type="button"
                        role="tab"
                        aria-controls="v-pills-home"
                        aria-selected="true"
                        routerLink="/workforce-admin/landing-page"
                      >
                        <span class="fw-semibold ">Section 1</span>
                        <span class="text-muted fs-12 d-block"
                          >Banner and Headline</span
                        >
                      </button>

                      <button
                        class="nav-link"
                        id="v-pills-profile-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile"
                        type="button"
                        role="tab"
                        aria-controls="v-pills-profile"
                        aria-selected="false"
                        routerLink="/workforce-admin/landing-page/sliding-logos"
                      >
                        <span class="fw-semibold ">Section 2</span>
                        <span class="text-muted fs-12 d-block"
                          >Sliding logos</span
                        >
                      </button>

                      <button
                        class="nav-link"
                        id="v-pills-messages-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-messages"
                        type="button"
                        role="tab"
                        aria-controls="v-pills-messages"
                        aria-selected="false"
                        routerLink="/workforce-admin/landing-page/features"
                      >
                        <span class="fw-semibold ">Section 3</span>
                        <span class="text-muted fs-12 d-block">Features and descriptions</span>
                      </button>

                      <button
                        class="nav-link"
                        id="v-pills-settings-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-settings"
                        type="button"
                        role="tab"
                        aria-controls="v-pills-settings"
                        aria-selected="false"
                        routerLink="/workforce-admin/landing-page/steps"
                      >
                        <span class="fw-semibold ">Section 4</span>
                        <span class="text-muted fs-12 d-block"
                          >Heading/text image/button</span
                        >
                      </button>

                      <button
                        class="nav-link"
                        id="v-pills-5-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-5"
                        type="button"
                        role="tab"
                        aria-controls="v-pills-5"
                        aria-selected="false"
                        routerLink="/workforce-admin/landing-page/job-categories"
                      >
                        <span class="fw-semibold ">Section 5</span>
                        <span class="text-muted fs-12 d-block">Jobs we provide</span>
                      </button>

                      <button
                        class="nav-link"
                        id="v-pills-6-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-6"
                        type="button"
                        role="tab"
                        aria-controls="v-pills-6"
                        aria-selected="false"
                        routerLink="/workforce-admin/landing-page/pricing"
                      >
                        <span class="fw-semibold ">Section 6</span>
                        <span class="text-muted fs-12 d-block">Budgets</span>
                      </button>

                      <button
                        class="nav-link"
                        id="v-pills-7-tab"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-7"
                        type="button"
                        role="tab"
                        aria-controls="v-pills-7"
                        aria-selected="false"
                        routerLink="/workforce-admin/landing-page/testimonials"
                      >
                        <span class="fw-semibold ">Section 7</span>
                        <span class="text-muted fs-12 d-block">Testimonials</span>
                      </button>

                      
                    </div>
                  </div>
                </div>

                <!-- Contents  -->
                <div class="col-12 col-lg-8 col-xl-9 py-3 ps-lg-1">
                  <div class="tab-content" id="v-pills-tabContent">
                    <main> 
                      <router-outlet> </router-outlet>
                    </main>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>