<!-- reject Modal -->
<div  id="reject" tabindex="-1" aria-labelledby="viewLabel" aria-hidden="true">
    <div >
      <form (ngSubmit)="onSubmit()" [formGroup]="form"> 
      <div class="modal-content">
        <div class="modal-body">
          <div class="row g-4">
            <div class="col-12">
              <div class="form-group">
                <label for="">Please specify the reason to reject :</label>
                <select formControlName="reason" name="" id="" class="form-select">
                  <option value="" selected disabled>Select reason</option>
                  <option value="Too much expensive">Too much expensive</option>
                  <option value="Requirement fulfiled">Requirement fulfiled</option>
                  <option value="Need to negotiate">Need to negotiate</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="">Describe <small class="text-muted">(Optional)</small></label>
                <textarea formControlName="description" name="" id="" cols="30" rows="4" placeholder="Write here" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0 justify-content-end gap-2">
          <button (click)="closeModal()" type="button" class="btn btn-light px-3" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-danger px-3">
            Confirm, Reject
          </button>
        </div>
      </div>
    </form>
    </div>
  </div>