button {
    color: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
    &:hover{
        color: rgba(var(--bs-primary-rgb) , 1);
    }
}

ul {
    list-style: none;
    margin-top: 16px;
    padding-left: 24px;
}

li {
    color: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    &.no-image {
        list-style: disc inside;
    }

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    a {
        color: inherit;
        text-decoration: none;
        &:hover{
            color: rgba(var(--bs-primary-rgb) , 1);
        }
    }
}
