<button
    type="button"
    class="bg-transparent border-0 p-0 d-flex align-items-center justify-content-between gap-3"
    (click)="collapsed = !collapsed"
>
        <!-- <img
            *ngIf="dropdownItem.iconPath"
            [ngSrc]="dropdownItem.iconPath"
            width="20"
            height="20"
            alt=""
        /> -->
    {{ dropdownItem.label }}

    <span>
        <svg viewBox="0 0 24 24" width="18" height="18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="6 9 12 15 18 9"></polyline></svg>
    </span>
</button>

<ul *ngIf="!collapsed">
    <li
        *ngFor="let item of dropdownItem.children"
        [ngClass]="{ 'no-image': !item.iconPath }"
    >
        <a
            [routerLink]="item.path"
            routerLinkActive="text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            class="d-flex align-items-center gap-3"
            [ngClass]="{ 'd-flex': !!item.iconPath }"
        >
            <!-- <img
                *ngIf="item.iconPath"
                [ngSrc]="item.iconPath"
                width="20"
                height="20"
                alt=""
            /> -->
            {{ item.label }}
        </a>
    </li>
</ul>
