<div class="mt-3">
    <div class="row align-items-center g-3 g-sm-0 mt-n-2 mb-1">
        <div class="col-12 col-sm-8">
            <h6 class="mb-0 fw-semibold">Recent Applications</h6>
        </div>
        <div class="col-12 col-sm-4 text-end">
            <button routerLink="/workforce-admin/published-projects/list" class="btn fst-italic btn-sm link-primary ">View all</button>
        </div>
    </div>

    <div class="shadow rounded ">
        <div class="recent_applications_wrapper">
            <div *ngFor="let application of applicationsList" class="card border recent_applications_card p-3">
                <div class="item">
                    <div class="d-flex align-items-center gap-2 mb-2">
                        <div class="bg-secondary rounded-circle flex-shrink-0 "
                            style="width: 50px;height: 50px;">
                        </div>
                        <div
                            class="d-flex align-items-start flex-wrap justify-content-between flex-grow-1  gap-2">
                            <div>
                                <h6 class="mb-0 fw-semibold fs-6">{{application.candidate_data[0].candidate_name}}</h6>
                                <!-- <span class="text-muted ">Developer</span> -->
                            </div>
                            <span class="text-muted small">{{application.application_date | date : "dd-MM-yyyy"}}</span>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2 flex-wrap ">
                        <span class="small border rounded-pill "
                            style="border-color: #B528E6 !important;color: #B528E6;padding:2px 10px;">job title-
                            {{application.job_data[0].job_title}}</span>
                            <span class="small border rounded-pill "
                            style="border-color: #09B62F !important;color: #09B62F;padding:2px 10px;">{{application.company_data[0].company_name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>