.recent_applications_wrapper{
    .recent_applications_card:not(:last-child){
        margin-bottom: 16px;
    }
    height: 490px;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 4px !important;
    }
}