<div class="container-fluid py-4">
    <div class="row">
      <!-- <div class="offset-xl-2 col-xl-10"> -->
      <div>
        <!-- copy -->
        <div class="container-fluid">
          <div class="row g-4">
            <div class="col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Workforce </a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Designers
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>

        <div class="bg-primary rounded p-3 text-white mt-3 workforce mb-3">
          <div class="container-fluid px-0">
            <div class="row g-3 align-items-center">
              <div class="col-12 col-md-8">
                <h4 class="mb-3 fw-semibold">{{projectDetails?.job_title}}</h4>
                <div class="d-flex flex-wrap gap-2 align-items-center">
                  <h6 class="mb-0 fw-semibold">Skills :</h6>
                  <div class="d-flex flex-wrap gap-1 align-items-center">
                    <span *ngFor="let item of projectDetails?.job_skills" class="small badge bg-white text-primary fw-500"
                      >{{item}}</span
                    >
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 text-md-end">
                <div
                  class="d-flex flex-wrap gap-1 flex-md-column align-items-md-end justify-content-between"
                >
                  <span
                    class="text-success px-3 py-1 rounded-pill"
                    style="background-color: #ebffe1"
                    >{{(projectDetails?.current_status === "active") ? "Active" : "Inactive"}}</span
                  >
                  <p class="mb-0 mt-1">Expires on : {{projectDetails?.job_deadline | date : "dd-MM-yyyy"}}</p>
                </div>
              </div>
              <div class="col-12">
                <hr class="m-0" />
              </div>
              <div class="col-12 col-sm-8 order-last order-sm-0">
                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link active text-white"
                      id="pills-Job-Details-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#pills-Job-Details"
                      type="button"
                      role="tab"
                      aria-controls="pills-Job-Details"
                      aria-selected="true"
                    >
                      Job Details
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link text-white"
                      id="pills-Application-tab"
                      data-bs-toggle="pill"
                      data-bs-target="#pills-Application"
                      type="button"
                      role="tab"
                      aria-controls="pills-Application"
                      aria-selected="false"
                    >
                      Application/Interested
                    </button>
                  </li>
                </ul>
              </div>
              <div class="col-12 col-sm-4 text-end">
                <button (click)="toggleCurrentStatus(projectDetails?.job_id)" class="btn btn-sm btn-light link-primary">
                  {{(projectDetails?.current_status === "active" ? "Pause" : "Activate")}}
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-Job-Details"
              role="tabpanel"
              aria-labelledby="pills-Job-Details-tab"
              tabindex="0"
            >
              <div class="row g-4">
                <div class="col-12 col-md-8">
                  <div class="row g-3">
                    <div class="col-12 col-sm-6 col-lg-4">
                      <div
                        class="card h-100 flex-row flex-sm-column flex-xxl-row text-sm-center text-xxl-start p-3 shadow border-0 gap-2"
                      >
                        <img
                          src="../../../../../../assets/images/location.png"
                          class="flex-shrink-0 mx-sm-auto mx-xxl-0"
                          alt=""
                          style="width: 50px; height: 50px"
                        />
                        <div class="align-self-center">
                          <h6 class="fw-semibold mb-0">Location</h6>
                          <span>{{projectDetails?.job_location}}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                      <div
                        class="card h-100 flex-row flex-sm-column flex-xxl-row text-sm-center text-xxl-start p-3 shadow border-0 gap-2"
                      >
                        <img
                          src="../../../../../../assets/images/timer.png"
                          class="flex-shrink-0 mx-sm-auto mx-xxl-0"
                          alt=""
                          style="width: 50px; height: 50px"
                        />
                        <div class="align-self-center">
                          <h6 class="fw-semibold mb-0">Time Period</h6>
                          <span>{{projectDetails?.job_duration}}</span>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-4">
                      <div
                        class="card h-100 flex-row flex-sm-column flex-xxl-row text-sm-center text-xxl-start p-3 shadow border-0 gap-2"
                      >
                        <img
                          src="../../../../../../assets/images/sett.png"
                          class="flex-shrink-0 mx-sm-auto mx-xxl-0"
                          alt=""
                          style="width: 50px; height: 50px"
                        />
                        <div class="align-self-center">
                          <h6 class="fw-semibold mb-0">Experience</h6>
                          <span>{{projectDetails?.job_experience}}</span>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="projectDetails?.job_scope_of_work_files.length > 0" class="col-12">
                      <div
                        class="card shadow align-items-center flex-row justify-content-between border-0 p-3 mt-3"
                        *ngFor="let file of projectDetails?.job_scope_of_work_files"
                      >
                        <p class="mb-0">
                          <img
                            src="../../img/attachment (2) 1 (1).png"
                            class="img-fluid"
                            alt=""
                          />
                          {{file.file_name}}
                        </p>
                        <a [href]="file.file_link" download class="btn btn-sm link-primary">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="14"
                            viewBox="0 0 16 16"
                            fill="none"
                          >
                            <path
                              d="M14.9989 10.332V13.4429C14.9989 13.8554 14.835 14.251 14.5433 14.5427C14.2516 14.8344 13.856 14.9983 13.4434 14.9983H2.55543C2.1429 14.9983 1.74727 14.8344 1.45557 14.5427C1.16388 14.251 1 13.8554 1 13.4429V10.332"
                              stroke="#28B1E6"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M4.11084 6.44531L7.99941 10.3339L11.888 6.44531"
                              stroke="#28B1E6"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                            <path
                              d="M7.99944 10.3326V1"
                              stroke="#28B1E6"
                              stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                          Download
                        </a>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="card h-100 shadow p-3 border-0">
                        <h6 class="mb-3 fw-semibold">Scope of work</h6>
                        <ul class="mb-0 list-unstyled">
                          <li [innerHTML]="projectDetails?.job_description" class="mb-1">
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <app-organization-detail-card [organizationDetail]="organizationDetail"> </app-organization-detail-card>
                </div>
              </div>
            </div>


            <div
              class="tab-pane fade"
              id="pills-Application"
              role="tabpanel"
              aria-labelledby="pills-Application-tab"
              tabindex="0"
            >
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">App. date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let application of applications">
                      <td>
                        <div class="d-inline-flex gap-2 align-items-center">
                          <img
                            src="../../../../../../assets/images/client.png"
                            class="img-fluid rounded-circle object-fit-cover"
                            style="width: 24px; height: 24px"
                            alt=""
                          />
                          <span>{{application?.candidate_data[0].candidate_name}}</span>
                        </div>
                      </td>
                      <td>{{application?.candidate_data[0].candidate_email}}</td>
                      <td>{{application?.application_date | date : "dd-MM-yyyy"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>