<!-- upload Modal -->
<div id="upload" tabindex="-1" aria-labelledby="viewLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h6 class="text-center fs-5 mb-0 fw-semibold">Upload File</h6>
        </div>
        <form (ngSubmit)="onSubmit()" [formGroup]="form"> 
        <div class="modal-body">
          <div class="row g-4">
            <div class="col-12">
              <div class="form-group">
                <label for="">Company Name</label>
                <select (change)="fetchProjects(companySelect.value)" formControlName="companyId"  #companySelect name="" id="" class="form-select mb-3">
                  <option value="" selected disabled>Select</option>
                  <option  *ngFor="let item of companies" [value]="item?._id">{{item?.company_name}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="">Project</label>
                <select formControlName="jobId" name="" id="" class="form-select">
                  <option value="" selected disabled>Select</option>
                  <option *ngFor="let item of projects" [value]="item?._id">{{item?.job_title}}</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="">Remark / Some details <small class="text-muted">(Optional)</small></label>
                <textarea formControlName="remarks" name="" id="" cols="30" rows="4" placeholder="Write here" class="form-control"></textarea>
              </div>
            </div>
            <div class="col-12">
              <div class="p-4 card text-center" style="border-style: dashed;">
                <img src="../../img/upload-file(1) 1.png" alt="" class="object-fit-contain mx-auto"
                  style="width: 50px;height: 50px;">
                <h6 class="fs-6 mb-0 fw-medium">Drop here or <label for="browse"
                    class="btn mb-0 btn-sm link-primary">Browse</label></h6>
                <input (change)="selectFiles($event)"  type="file" class="d-none" id="browse">
                <small class="text-muted">File size should not exceed 5Mb</small>
              </div>
            </div>
            <div *ngIf="proposalFile" class="col-12">
              <div class="d-flex align-items-center justify-content-between gap-3">
                <div class="d-inline-flex gap-1 align-items-center">
                  <img src="../../img/attachment (2) 1 (1).png" class="img-fluid" alt="">
                  <span class="small">{{proposalFile?.name}}</span>
                </div>
                <button (click)="deleteFile()" class="btn btn-sm squre-md opacity_btn_delete rounded-2 p-0">

                  <!-- delete -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 16 17" fill="none">
                    <path d="M1 3.99805H2.5H14.5" stroke="#E01B1B" stroke-width="1.2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path
                      d="M13 4V14.5C13 14.8978 12.842 15.2794 12.5607 15.5607C12.2794 15.842 11.8978 16 11.5 16H4C3.60218 16 3.22064 15.842 2.93934 15.5607C2.65804 15.2794 2.5 14.8978 2.5 14.5V4M4.75 4V2.5C4.75 2.10218 4.90804 1.72064 5.18934 1.43934C5.47064 1.15804 5.85218 1 6.25 1H9.25C9.64783 1 10.0294 1.15804 10.3107 1.43934C10.592 1.72064 10.75 2.10218 10.75 2.5V4"
                      stroke="#E01B1B" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M6.25 7.74805V12.248" stroke="#E01B1B" stroke-width="1.2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M9.24805 7.74805V12.248" stroke="#E01B1B" stroke-width="1.2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0 justify-content-center gap-2">
          <button type="button" class="btn btn-light px-3" (click)="closeModal()" data-bs-dismiss="modal">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary px-3">
            Save
          </button>
        </div>

    </form>
      </div>
    </div>
  </div>