<!-- <div
class="tab-pane fade"
id="v-pills-7"
role="tabpanel"
aria-labelledby="v-pills-7-tab"
tabindex="0"
> -->

<section class="mb-3 client">
    <div class="row">
        <div class="col-lg-12">
            <div class="section_items mb-3">
                <form [formGroup]="form" action="" method="get">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group mb-2">
                                <label for="">Heading</label>
                                <input formControlName="heading" type="text" class="form-control mt-1" id="">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group mb-2">
                                <label for="Description">Description</label>
                                <textarea formControlName="description" name="" class="form-control mt-1"
                                    id="Description" cols="30" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="section_items">
        <form action="">
            <div class="row">
                <div class="col-12">
                    <label for="search_client" class="mb-1">Search Client</label>
                </div>
                <div class="col-9 col-xl-10">
                    <select #testimonialSelect name="" id="" class="form-select">
                        <option value="" selected>Select</option>
                        <option *ngFor="let item of publishedTestimonials" [value]="item._id">{{item?.posted_by}}</option>
                    </select>
                </div>
                <div class="col-3 col-xl-2">
                    <button (click)="selectTestimonial(testimonialSelect.value)" type="button" class="btn btn-primary w-100">Fetch</button>
                </div>
            </div>
        </form>
    </div>

    <h6 class="text-danger sub_heading mb-2 mt-3">*Can not add more than 3</h6>

    <div *ngFor="let item of selectedTestimonials" class="section_items mb-3">
        <div class="d-flex gap-3 flex-wrap flex-lg-nowrap">
            <img src="../img/home/banner-4.png" alt="" class="client_img">
            <div class="flex-grow-1 ">
                <button (click)="deleteTestimonial(item?._id)" class="btn squre_btn_md btn_delete">
                    <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.15381 3.54102H2.42304H12.5769" stroke="#6A6A6A" stroke-width="1.26923" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.307 3.53846V12.4231C11.307 12.7597 11.1733 13.0825 10.9352 13.3206C10.6972 13.5586 10.3744 13.6923 10.0377 13.6923H3.69159C3.35497 13.6923 3.03214 13.5586 2.79411 13.3206C2.55609 13.0825 2.42236 12.7597 2.42236 12.4231V3.53846M4.32621 3.53846V2.26923C4.32621 1.93261 4.45993 1.60978 4.69796 1.37175C4.93599 1.13372 5.25882 1 5.59544 1H8.1339C8.47052 1 8.79336 1.13372 9.03138 1.37175C9.26941 1.60978 9.40313 1.93261 9.40313 2.26923V3.53846" stroke="#6A6A6A" stroke-width="1.26923" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.5957 6.71484V10.5225" stroke="#6A6A6A" stroke-width="1.26923" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8.13379 6.71484V10.5225" stroke="#6A6A6A" stroke-width="1.26923" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                                                                    
                </button>
                <h6 class="mb-0 heading">{{item?.testimonial_data[0]?.posted_by}}</h6>
                <span class="text-muted fs-12">{{item?.testimonial_data[0]?.designation}}</span>
                <p class="mb-0 mt-2">{{item?.testimonial_data[0]?.feedback}}</p>
            </div>
        </div>
    </div>

      <!-- all bottom button -->
  <div class="mt-3">
    <hr class="mt-0 mb-3" />
    <div
      class="d-flex align-items-center justify-content-between gap-2 flex-wrap"
    >
      <button
        class="btn btn-outline-primary btn_prev"
        type="button"
        (click)="previous()"
      >
        Previous
      </button>
      <button
        class="btn btn-primary btn_save"
        type="submit"
        (click)="onSubmit()"
      >
        Save
      </button>

    </div>
  </div>
</section>

<!-- </div> -->