<div class="modal-body px-5 pt-0 pb-4 position-relative mt-3" id="deleteModal">

    <div class="modal-content" style="border-radius: 8px;border: none;">
  
      <div class="modal-header border-0 p-0 position-relative justify-content-center"
        style="border-radius: 8px;background-color: #EFEFEF;">
        <div class="logout_img_box bg-white rounded-circle shadow" style="width: 70px;
        height: 70px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        top: 40px;
        position: relative;">
          <img src="../../../../../../assets/images/4201973.png" alt="" class="img-fluid">
        </div>
      </div>
  
      <div class="fs-18 mb-3 mt-5 text-center fw-normal">
        <p>The changes are unsaved</p>
        <p>Are you sure you want to move?</p>
      </div>
  
      <div class="d-flex align-items-center justify-content-center gap-2">
        <button type="button" class="btn btn-light px-3" (click)="discard()" >
          Discard
        </button>
        <button type="button" class="btn btn-primary px-3" (click)="next()" >
          Yes
        </button>
  
      </div>
    </div>