<!-- <div class="modal-content"> -->
<div class="modal-header bg-primary text-center position-relative p-4 justify-content-center ">
  <div class="rounded-circle img-thumbnail border-3 border-white bg-secondary   position-absolute"
    style="width: 60px;height: 60px;bottom: -32px;"></div>
</div>
<div class="modal-body mt-4">
  <h6 class="fs-16 fw-semibold mb-0 text-center ">{{testimonialDetail?.company_data[0].company_name}}</h6>
  <p class="mb-0 text-center ">{{testimonialDetail?.posted_by}}</p>
  <p class="mb-4 text-muted text-center  ">{{testimonialDetail?.designation}}</p>

  <div class="row g-3">
    <div class="col-12 col-sm-6">
      <div class="d-flex align-items-center  gap-1">
        <svg *ngFor="let i of [1, 2, 3, 4, 5]" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
          viewBox="0 0 24 24">
          <path
            d="M12.5085 0L15.3168 8.64314H24.4047L17.0524 13.9849L19.8608 22.628L12.5085 17.2863L5.15618 22.628L7.9645 13.9849L0.612208 8.64314H9.70015L12.5085 0Z"
            [style.fill]="i <= testimonialDetail?.ratings ? '#FFD700' : '#D9D9D9'" />
        </svg>

      </div>
    </div>
    <div class="col-12 col-sm-6 text-sm-end ">
      <small class="text-muted ">Submitted on : {{testimonialDetail?.posted_on | date : "dd-MM-yyyy"}}</small>
    </div>
    <div class="col-12">
      <p class="mb-0">{{testimonialDetail?.feedback}}</p>
    </div>

  </div>
</div>
<div class="modal-footer border-top-0 justify-content-center gap-2">
  <button type="button" class="btn btn-light px-3" data-bs-dismiss="modal">
    Cancel
  </button>
</div>
<!-- </div> -->