
<div class="container-fluid py-4">
    <!-- <div class="offset-xl-2 col-xl-10"> -->
    <div>
    <div class="row">
            <!-- copy -->
            <div class="container-fluid">
                <div class="row g-4">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#">Workforce</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="col-12">
                        <div class="card p-3 p-md-4 p-xxl-5 border-0 shadow">
                            <h6 class="mb-3 fw-bold fs-18">Create Job</h6>
                            <hr class="mb-4 mt-0">
                            <form (ngSubmit)="onNext()" [formGroup] = "form" class="create-job-form">
                                <div class="row g-4">
                                    <div class="col-12">
                                        <label for="job_title" >Job Title</label>
                                        <input type="text" id="job_title" formControlName="job_title"class="form-control rounded-0">
                                        <div *ngIf="form.get('job_title')?.invalid && (form.get('job_title')?.dirty || form.get('job_title')?.touched)"
                                             class="text-danger">Job Title is required.
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label for="job_deadline">Deadline</label>
                                        <input type="date" id="job_deadline" formControlName="job_deadline" class="form-control rounded-0">
                                        <div *ngIf="form.get('job_deadline')?.invalid && (form.get('job_deadline')?.dirty || form.get('job_deadline')?.touched)"
                                             class="text-danger">Job deadline is required.
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label for="job_location" >Job Location</label>
                                        <input type="text" id="job_location" formControlName="job_location" class="form-control rounded-0">
                                        <div *ngIf="form.get('job_location')?.invalid && (form.get('job_location')?.dirty || form.get('job_location')?.touched)"
                                             class="text-danger">Job Location is required.
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label for="job_category" >Job Category</label>
                                        <select id="job_category" formControlName="job_category" class="form-select rounded-0">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let item of categories" [value]="item">{{item}}</option>
                                        </select>
                                        <div *ngIf="form.get('job_category')?.invalid && (form.get('job_category')?.dirty || form.get('job_category')?.touched)"
                                             class="text-danger">Job Category is required.
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label for="job_subCategory" >Job Sub-Category</label>
                                        <select id="job_subCategory" formControlName="job_subCategory" class="form-select rounded-0">
                                            <option value="" selected disabled>Select</option>
                                            <option *ngFor="let item of subCategories" [value]="item">{{item}}</option>
                                        </select>
                                        <div *ngIf="form.get('job_subCategory')?.invalid && (form.get('job_subCategory')?.dirty || form.get('job_subCategory')?.touched)"
                                             class="text-danger">Job Sub Category is required.
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex flex-wrap gap-2 align-items-center justify-content-between">
                                            <button class="btn" type="reset">Reset</button>
                                            <div class="d-flex align-items-center justify-content-between gap-2">
                                                <button class="btn" routerLink="/organization/jobs/list-jobs" type="button">Cancel</button>
                                                <button class="btn btn-primary px-3" [disabled]="!form.valid" type="submit">Next</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  