<div class="row align-items-center g-3 g-sm-0 mt-n-2 mb-1">
  <div class="col-12 col-sm-8">
    <h6 class="mb-0 fw-semibold">Recent Proposal</h6>
  </div>
  <div class="col-12 col-sm-4 text-end">
    <button routerLink="/workforce-admin/proposals/list" class="btn fst-italic btn-sm link-primary">View all</button>
  </div>
</div>
<div class="card shadow border-0 p-2 recent_proposal_tbl">
  <div class="table-responsive">
    <table class="table table-transparent mb-0">
      <thead class="bg-light">
        <tr>
          <th>Proposal</th>
          <th>Company Name</th>
          <th class="text-center">Sent on</th>
          <th class="text-center">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proposal of proposalsList">
          <td>{{proposal.job_data[0].job_title}}</td>
          <td>{{proposal.company_data[0].company_name}}</td>
          <td class="text-center">{{proposal.sent_on | date : "dd-MM-yyyy"}}</td>
          <td class="text-center">
            <span
              class="small px-3 py-1 rounded-pill text-white "
              [ngStyle]="{
                'background-color': 
                  proposal.status === 'accepted' ? '#339f00' : 
                  proposal.status === 'pending' ? '#ffcc00' :
                  proposal.status === 'rejected' ? '#c4272e' :
                  ''
              }"
              >{{proposal.status}}</span
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
