
<div class="container-fluid py-4">
    <div class="row">
        <!-- <div class="offset-xl-2 col-xl-10"> -->
        <div>
            <!-- copy -->
            <div class="container-fluid">
                <div class="row g-4">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#">Workforce</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="col-12">
                        <div class="card p-3 p-md-4 p-xxl-5 border-0 shadow">
                            <h6 class="mb-3 fw-bold fs-18">Job details</h6>
                            <hr class="mb-4 mt-0">
                            <form (ngSubmit) = "onSubmit()" [formGroup]="form">
                                <div class="row g-4">
                                    <div class="col-12 ">
                                        <label for="job_description" >Job Descriptions <small>(Optional)</small></label>
                                        <textarea formControlName="job_description" class="form-control rounded-1" id="job_description" cols="30" rows="3"></textarea>
                                        <div class="mb-3 mt-2 d-flex align-items-center justify-content-between">
                                            <!-- <p class="mb-0 small d-flex align-items-center">
                                                <img src="../../img/attachment (2) 1 (1).png" alt="" class="
                                                img-fluid me-1">
                                                filename.xls
                                            </p> -->
                                            <!-- <button class="btn squre-lg opacity_btn_delete">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 17" fill="none">
                                                    <path d="M1 3.99902H2.5H14.5" stroke="#E01B1B" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M13 4V14.5C13 14.8978 12.842 15.2794 12.5607 15.5607C12.2794 15.842 11.8978 16 11.5 16H4C3.60218 16 3.22064 15.842 2.93934 15.5607C2.65804 15.2794 2.5 14.8978 2.5 14.5V4M4.75 4V2.5C4.75 2.10218 4.90804 1.72064 5.18934 1.43934C5.47064 1.15804 5.85218 1 6.25 1H9.25C9.64783 1 10.0294 1.15804 10.3107 1.43934C10.592 1.72064 10.75 2.10218 10.75 2.5V4" stroke="#E01B1B" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M6.25 7.74902V12.249" stroke="#E01B1B" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    <path d="M9.24976 7.74902V12.249" stroke="#E01B1B" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/>
                                                  </svg>
                                            </button> -->
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex flex-wrap gap-2 align-items-center justify-content-between">
                                            <div class="d-flex gap-2 align-items-center">
                                                <label for="fileInput" class="btn btn-sm squre-lg bg-primary bg-opacity-10" type="button">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" viewBox="0 0 18 22" fill="none">
                                                        <path d="M11 1H3C2.46957 1 1.96086 1.21071 1.58579 1.58579C1.21071 1.96086 1 2.46957 1 3V19C1 19.5304 1.21071 20.0391 1.58579 20.4142C1.96086 20.7893 2.46957 21 3 21H15C15.5304 21 16.0391 20.7893 16.4142 20.4142C16.7893 20.0391 17 19.5304 17 19V7L11 1Z" stroke="#28B1E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M11 1V7H17" stroke="#28B1E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M9 17V11" stroke="#28B1E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                        <path d="M6 14H12" stroke="#28B1E6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                                    </svg>
                                                </label>
                                                <input id="fileInput" type="file" style="display: none;" multiple (change)="selectFiles($event)">
                                                Add Files
                                            </div>
                                        </div>
                                            <div *ngIf="jobDescriptionFiles" class="uploaded_files_show">
                                                <!-- <h6 class="mb-2 sub_heading">Uploaded Files</h6> -->
                                                <div *ngFor="let item of jobDescriptionFiles let i = index" class="card mt-4 mb-4">
                                                    <div  class="row align-items-center">
                                          
                                                        <div class="col-12 col-sm-7">
                                                          <div
                                                            class="d-flex gap-2 align-items-center"
                                                          >
                                                            <img
                                                              src="../img/home/banner-4.png"
                                                              alt=""
                                                              class="img-fluid sm_thumb"
                                                            />
                                                            <div class="align-self-center">
                                                              <h6 class="mb-0 sub_heading">
                                                                {{item?.name}}
                                                              </h6>
                                                              <p
                                                                class="mb-0 fs-12 text-muted d-flex align-items-center gap-2"
                                                              >
                                                                <!-- <span>12/12/2022</span>
                                                                <span>|</span>
                                                                <span>1.7mb</span> -->
                                                              </p>
                                                            </div>
                                                          </div>
                                                        </div>
                                                    
                                                        <div class="col-12 col-sm-5 text-sm-end">
                                                          <div
                                                            class="d-flex align-items-center justify-content-end gap-1"
                                                          >
                                                            <!-- <button
                                                              class="btn squre_btn_md btn_show"
                                                              type="button"
                                                            >
                                                              <svg
                                                                width="16"
                                                                height="12"
                                                                viewBox="0 0 16 12"
                                                                fill="none"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                              >
                                                                <path
                                                                  d="M1 6.09091C1 6.09091 3.54545 1 8 1C12.4545 1 15 6.09091 15 6.09091C15 6.09091 12.4545 11.1818 8 11.1818C3.54545 11.1818 1 6.09091 1 6.09091Z"
                                                                  stroke="#000"
                                                                  stroke-width="1"
                                                                  stroke-linecap="round"
                                                                  stroke-linejoin="round"
                                                                />
                                                                <path
                                                                  d="M7.99991 8.00001C9.05427 8.00001 9.909 7.14528 9.909 6.09091C9.909 5.03655 9.05427 4.18182 7.99991 4.18182C6.94555 4.18182 6.09082 5.03655 6.09082 6.09091C6.09082 7.14528 6.94555 8.00001 7.99991 8.00001Z"
                                                                  stroke="#000"
                                                                  stroke-width="1"
                                                                  stroke-linecap="round"
                                                                  stroke-linejoin="round"
                                                                />
                                                              </svg>
                                                            </button> -->
                                                            <button
                                                              class="btn squre_btn_md btn_delete"
                                                              type="button"
                                                              (click)="deleteImage(i)"
                                                            >
                                                              <svg
                                                                width="14"
                                                                height="15"
                                                                viewBox="0 0 14 15"
                                                                fill="none"
                                                                xmlns="http://www.w3.org/2000/svg"
                                                              >
                                                                <path
                                                                  d="M1.15381 3.54102H2.42304H12.5769"
                                                                  stroke="#000"
                                                                  stroke-width="1"
                                                                  stroke-linecap="round"
                                                                  stroke-linejoin="round"
                                                                />
                                                                <path
                                                                  d="M11.307 3.53846V12.4231C11.307 12.7597 11.1733 13.0825 10.9352 13.3206C10.6972 13.5586 10.3744 13.6923 10.0377 13.6923H3.69159C3.35497 13.6923 3.03214 13.5586 2.79411 13.3206C2.55609 13.0825 2.42236 12.7597 2.42236 12.4231V3.53846M4.32621 3.53846V2.26923C4.32621 1.93261 4.45993 1.60978 4.69796 1.37175C4.93599 1.13372 5.25882 1 5.59544 1H8.1339C8.47052 1 8.79336 1.13372 9.03138 1.37175C9.26941 1.60978 9.40313 1.93261 9.40313 2.26923V3.53846"
                                                                  stroke="#000"
                                                                  stroke-width="1"
                                                                  stroke-linecap="round"
                                                                  stroke-linejoin="round"
                                                                />
                                                                <path
                                                                  d="M5.5957 6.71484V10.5225"
                                                                  stroke="#000"
                                                                  stroke-width="1"
                                                                  stroke-linecap="round"
                                                                  stroke-linejoin="round"
                                                                />
                                                                <path
                                                                  d="M8.13379 6.71484V10.5225"
                                                                  stroke="#000"
                                                                  stroke-width="1"
                                                                  stroke-linecap="round"
                                                                  stroke-linejoin="round"
                                                                />
                                                              </svg>
                                                            </button>
                                                          </div>
                                                        </div>
                                                    
                                                      </div>
                                                </div>
                                            </div>
                                    
                                            <div class="d-flex justify-content-between align-items-center">
                                              <button class="btn" (click)="onBack()" type="button">Back</button>
                                              <div>
                                                  <button class="btn" type="button" routerLink="/organization/jobs/list-jobs">Cancel</button>
                                                  <button [disabled]="isSubmitted" class="btn btn-primary px-3" type="submit">Submit</button>
                                              </div>
                                          </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


