.logout_img_box[_ngcontent-jhh-c111] {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 3px 14px 2px #00000026;
    display: grid;
    place-items: center;
    position: relative;
    padding: 12px;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
}