<div class="container-fluid py-4">
    <div class="row">
      <!-- <div class="offset-xl-2 col-xl-10"> -->
      <div>
        <div class="container-fluid">
          <div class="row g-4">
            <div class="col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Workforce </a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Designers
                  </li>
                </ol>
              </nav>
            </div>
            <div class="col-12 col-xl-7 col-xxl-8">
              <div class="d-flex flex-column gap-3">
                <div class="card h-100 shadow p-3 border-0">
                  <div class="row gy-2">
                    <div class="col-md-7 col-xxl-8">
                      <h6 class="mb-0 fw-semibold">{{projectDetail?.job_title}}</h6>
                      <span class="small">{{projectDetail?.company_data[0].company_name}}</span>
                    </div>
                    <div class="col-md-5 col-xxl-4 text-end">
                      <div
                        class="d-flex gap-2 align-items-center mb-1 justify-content-end"
                      >
                        <button
                          class="btn btn-success btn-sm"
                          type="button"
                          (click)="openModal()"
                        >
                          {{(isProjectPublished) ? "Published" : "Publish"}}
                        </button>
                      </div>
                      <small class="text-end small"
                        >Requested on : {{projectDetail?.job_requested_on | date : "dd-MM-yyyy"}}</small
                      >
                    </div>
                  </div>
                </div>

                <div class="card h-100 shadow p-3 border-0">
                  <div class="row gy-2 align-items-center">
                    <div class="col-xl-8">
                      <div class="d-flex flex-wrap gap-2 align-items-center">
                        <h6 class="mb-0 fw-semibold">Skills :</h6>
                        <div
                          class="d-flex flex-wrap gap-1 align-items-center"
                        >
                          <span
                            *ngFor="let item of projectDetail?.job_skills"
                            class="small badge bg-primary text-white fw-500 rounded-1 "
                            >{{item}}</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <p class="mb-0 fw-semibold">Stipend</p>
                      <p class="mb-0">{{projectDetail?.job_stipend}}</p>
                    </div>
                  </div>
                </div>

                <div class="card h-100 shadow p-3 border-0">
                  <div class="row gy-2">
                    <div class="col-sm-6 col-xxl-3">
                      <p class="mb-0 fw-semibold">Location</p>
                      <p class="mb-0">{{projectDetail?.job_location}}</p>
                    </div>
                    <div class="col-sm-6 col-xxl-3">
                      <p class="mb-0 fw-semibold">No. of Resources</p>
                      <p class="mb-0">{{projectDetail?.job_resources_required}}</p>
                    </div>
                    <div class="col-sm-6 col-xxl-3">
                      <p class="mb-0 fw-semibold">Time Period</p>
                      <p class="mb-0">{{projectDetail?.job_duration}}</p>
                    </div>
                    <div class="col-sm-6 col-xxl-3">
                      <p class="mb-0 fw-semibold">Deadline</p>
                      <p class="mb-0">{{projectDetail?.job_deadline | date : "dd-MM-yyyy"}}</p>
                    </div>
                  </div>
                </div>

                <div *ngIf="projectDetail && projectDetail?.job_scope_of_work_files.length > 0" class="col-12">
                  <div
                    class="card shadow align-items-center flex-row justify-content-between border-0 p-3"
                    *ngFor="let file of projectDetail?.job_scope_of_work_files"
                  >
                    <p class="mb-0">
                      <img
                        src="../../img/attachment (2) 1 (1).png"
                        class="img-fluid"
                        alt=""
                      />
                      {{file.file_name}}
                    </p>
                    <a [href]="file.file_link" download class="btn btn-sm link-primary">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="14"
                        height="14"
                        viewBox="0 0 16 16"
                        fill="none"
                      >
                        <path
                          d="M14.9989 10.332V13.4429C14.9989 13.8554 14.835 14.251 14.5433 14.5427C14.2516 14.8344 13.856 14.9983 13.4434 14.9983H2.55543C2.1429 14.9983 1.74727 14.8344 1.45557 14.5427C1.16388 14.251 1 13.8554 1 13.4429V10.332"
                          stroke="#28B1E6"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M4.11084 6.44531L7.99941 10.3339L11.888 6.44531"
                          stroke="#28B1E6"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M7.99944 10.3326V1"
                          stroke="#28B1E6"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                      Download
                    </a>
                  </div>
                </div>

                <div class="card h-100 shadow p-3 border-0">
                  <h6 class="mb-3 fw-semibold">Scope of work</h6>
                  <ul class="mb-0 list-unstyled">
                    <li  [innerHtml]="projectDetail?.job_description" class="mb-1">

                    </li>
                  </ul>
                </div>
              </div>
            </div>
            
            <div class="col-12 col-xl-5 col-xxl-4">
              <app-organization-detail-card [organizationDetail]="organizationDetail"></app-organization-detail-card>

              <div class="mt-3">
                <h6 class="fw-semibold mb-2">Other Jobs - {{otherJobs?.length}}</h6>
                <div class="card border-0 p-3 shadow">
                  <ul class="mb-0 list-unstyled">
                    <li *ngFor="let project of otherJobs" class="m-1">
                      <a  (click)="navigateToProject(project._id)" style="text-decoration: none; cursor: pointer;" class=" text-black link-primary p-1">{{project?.job_title}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
