<div class="main-layout">
    <div
        *ngIf="sideNavControl.isSideNavExpanded$ | async"
        class="side-nav-overlay"
        (click)="sideNavControl.setSideNavIsExpanded(false)"
    ></div>

    <app-header></app-header>
    <app-sidenav 
    *ngIf="sideNavControl.isSideNavExpanded$ | async"
    >
    </app-sidenav>

    <main>
        <router-outlet></router-outlet>
    </main>
</div>