app-sidenav {
    position: absolute;
    z-index: 2;
}

.side-nav-overlay {
    background: rgba(0, 0, 0, 0.46);
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.main-layout {
    min-height: 100vh;

    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: min-content 1fr min-content;
        grid-template-areas:
            "header header"
            "side main"
            "side footer";

        .side-nav-overlay {
            display: none;
        }

        app-sidenav {
            position: sticky;
            top: 0;
            height: 100vh;
            grid-area: side;
        }

        app-header {
            grid-area: header;
        }

        main {
            grid-area: main;
        }

        app-footer {
            grid-area: footer;
        }
    }
}
