<!-- <div
class="tab-pane fade show active"
id="v-pills-home"
role="tabpanel"
aria-labelledby="v-pills-home-tab"
tabindex="0"
> -->

<!-- banner_sec -->
<section class="banner_sec mb-3">
  <h5 class="heading mb-2">Banner Images</h5>
  <div class="section_items mb-3">
    <div class="text-center mb-3">
        
      <div class="banner_img_wrapper p-3">
        <img
          src="assets\images\upload.png"
          alt=""
          class="mx-auto img-fluid upload_icon"
        />
    <h6 class="mb-1 fs-18 fw-500">
          Drag and drop your fles here
        </h6>
        <p class="text-muted mb-0">
          Files supported JPG, PNG
        </p>
        <p class="mb-0">OR</p>
        <label
          for="browse_files"
          class="btn btn-sm btn-outline-primary  browse_files mt-2"
          >Browse files</label
        >
        <input
          type="file"
          class="form-control d-none"
          id="browse_files"
          (change)="selectedFiles($event)"
          multiple
        />
        <p class="mb-0 mt-1 text-muted">
          maximum size 2 mb
        </p>
      </div>

    </div>
    <div *ngIf="bannerImages" class="uploaded_files_show">
      <h6 class="mb-2 sub_heading">Uploaded Files</h6>
      <div *ngFor="let item of bannerImages let i = index" class="card mb-4">
        <div  class="row align-items-center">

          <div class="col-12 col-sm-7">
            <div
              class="d-flex gap-2 align-items-center"
            >
              <img
                src="../img/home/banner-4.png"
                alt=""
                class="img-fluid sm_thumb"
              />
              <div class="align-self-center">
                <h6 class="mb-0 sub_heading">
                  {{item?.name}}
                </h6>
                <p
                  class="mb-0 fs-12 text-muted d-flex align-items-center gap-2"
                >
                  <span>12/12/2022</span>
                  <span>|</span>
                  <span>1.7mb</span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-5 text-sm-end">
            <div
              class="d-flex align-items-center justify-content-end gap-1"
            >
              <button
                class="btn squre_btn_md btn_delete"
                type="button"
                (click)="deleteImage(i)"
              >
                <svg
                  width="14"
                  height="15"
                  viewBox="0 0 14 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.15381 3.54102H2.42304H12.5769"
                    stroke="#000"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M11.307 3.53846V12.4231C11.307 12.7597 11.1733 13.0825 10.9352 13.3206C10.6972 13.5586 10.3744 13.6923 10.0377 13.6923H3.69159C3.35497 13.6923 3.03214 13.5586 2.79411 13.3206C2.55609 13.0825 2.42236 12.7597 2.42236 12.4231V3.53846M4.32621 3.53846V2.26923C4.32621 1.93261 4.45993 1.60978 4.69796 1.37175C4.93599 1.13372 5.25882 1 5.59544 1H8.1339C8.47052 1 8.79336 1.13372 9.03138 1.37175C9.26941 1.60978 9.40313 1.93261 9.40313 2.26923V3.53846"
                    stroke="#000"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5.5957 6.71484V10.5225"
                    stroke="#000"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M8.13379 6.71484V10.5225"
                    stroke="#000"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- input fealds -->
  <form (ngSubmit)="onSubmit()" [formGroup]="form" action="" method="get">
  <div class="section_items mb-3">
      <div class="row">
        <div class="col-12">
          <div class="form-group mb-2">
            <label for="Heading">Heading</label>
            <input
              type="text"
              class="form-control mt-1"
              id="Heading"
              formControlName="heading"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group mb-2">
            <label for="Tagline">Tagline</label>
            <input
              type="text"
              class="form-control mt-1"
              id="Tagline"
              formControlName="tagline"
            />
          </div>
        </div>
      </div>
    
  </div>

  <div class="section_items mb-3">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="form-group mb-2">
            <label for="">Button Name</label>
            <input
              type="text"
              class="form-control mt-1"
              id=""
              formControlName="buttonName"
            />
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="form-group mb-2">
            <label for="Description"
              >Button Link direct to</label
            >
            <input
              type="url"
              class="form-control mt-1"
              id=""
              formControlName="buttonLink"
            />
          </div>
        </div>
      </div>
  </div>

  <div class="row g-3 mt-2">
    <div class="col-12 col-md-6">
      <h6 class="heading mb-2">Left box</h6>
      <div class="section_items mb-3" formGroupName="leftBoxData">
        <div class="row">
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="">Numbers</label>
              <input
                type="text"
                class="form-control mt-1"
                id=""
                formControlName="numbers"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="">Description</label>
              <textarea
                name=""
                id=""
                cols="30"
                rows="2"
                class="form-control"
                formControlName="description"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <h6 class="heading mb-2">Right box</h6>
      <div class="section_items mb-3" formGroupName="rightBoxData">
        <div class="row">
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="">Numbers</label>
              <input
                type="text"
                class="form-control mt-1"
                id=""
                formControlName="numbers"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="">Description</label>
              <textarea
                name=""
                id=""
                cols="30"
                rows="2"
                class="form-control"
                formControlName="description"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- all bottom button -->
  <div class="mt-3">
    <hr class="mt-0 mb-3" />
    <div
      class="d-flex align-items-center justify-content-between gap-2 flex-wrap"
    >
      <button
        class="btn btn-primary btn_save"
        type="submit"

      >
        Save
      </button>
      <button
        class="btn btn-outline-primary btn-next"
        type="button"
        (click)="onNext()"
      >
        Next
      </button>
    </div>
  </div>

</form>


</section>

<!-- </div> -->