<div class="container-fluid py-4">
    <div class="row">
      <!-- <div class="offset-xl-2 col-xl-10"> -->
      <div>
        <!-- copy -->
        <div class="container-fluid">
          <div class="row g-4">
            <div class="col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Workforce</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Job Requirements
                  </li>
                </ol>
              </nav>
            </div>

            <div class="col-12">
              <div class="row align-items-center gy-4">
                <div class="col-12 col-md-8">
                  <h6 class="fs-15 mb-0 flex-shrink-0">All Requests</h6>
                </div>
                <div class="col-12 col-md-4">
                  <select
                    id="my-select"
                    class="form-select rounded-pill ps-3 ms-auto"
                    name=""
                    style="max-width: 120px;"
                  >
                    <option>filter</option>
                    <option value="latest">latest</option>
                    <option value="oldest">oldest</option>
                  </select>
                </div>
                <div class="col-12">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Job Title</th>
                          <th class="text-center">Application</th>
                          <th>Company Name</th>
                          <th class="text-center">No. of Resources</th>
                          <th class="text-center">Expiration Date</th>
                          <th class="text-center">Status</th>
                          
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let project of publishedProjectsList" class="">
                          <td>{{project?.job_title}}</td>
                          <td class="text-center">{{project?.no_of_applications}}</td>
                          <td>{{project?.company_data[0].company_name}}</td>
                          
                          <td class="text-center">
                              {{project?.job_resources_required}}
                          </td>
                          <td class="text-center">{{project?.job_deadline | date : "dd-MM-yyyy"}}</td>
                          <td class="text-center">
                            <span [ngClass]="{'text-success bg-success': project?.current_status === 'active', 'text-danger bg-danger': project?.current_status === 'inactive'}" class="badge text-success bg-success fw-500 rounded-1 bg-opacity-10 text-uppercase">
                                {{ project?.current_status === 'active' ? 'Open' : 'Closed' }}
                            </span>
                          </td>
                          <td>
                            <div class="dropdown">
                              <button
                                class="btn p-1 dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                              >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="4"
                                  height="15"
                                  viewBox="0 0 4 15"
                                  fill="none"
                                >
                                  <path
                                    d="M1.8125 8.3125C2.26123 8.3125 2.625 7.94873 2.625 7.5C2.625 7.05127 2.26123 6.6875 1.8125 6.6875C1.36377 6.6875 1 7.05127 1 7.5C1 7.94873 1.36377 8.3125 1.8125 8.3125Z"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M1.8125 2.625C2.26123 2.625 2.625 2.26123 2.625 1.8125C2.625 1.36377 2.26123 1 1.8125 1C1.36377 1 1 1.36377 1 1.8125C1 2.26123 1.36377 2.625 1.8125 2.625Z"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                  <path
                                    d="M1.8125 14C2.26123 14 2.625 13.6362 2.625 13.1875C2.625 12.7388 2.26123 12.375 1.8125 12.375C1.36377 12.375 1 12.7388 1 13.1875C1 13.6362 1.36377 14 1.8125 14Z"
                                    stroke="black"
                                    stroke-width="1.5"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                  />
                                </svg>
                              </button>
                              <ul class="dropdown-menu">
                                <li>
                                  <button [routerLink]=" '/workforce-admin/published-projects/detail/'+ project.job_id" class="dropdown-item" href="#">
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="13"
                                      height="13"
                                      viewBox="0 0 12 9"
                                      fill="none"
                                    >
                                      <path
                                        d="M1 4.5C1 4.5 2.75 1 5.8125 1C8.875 1 10.625 4.5 10.625 4.5C10.625 4.5 8.875 8 5.8125 8C2.75 8 1 4.5 1 4.5Z"
                                        stroke="#505050"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                      <path
                                        d="M5.8125 5.8125C6.53737 5.8125 7.125 5.22487 7.125 4.5C7.125 3.77513 6.53737 3.1875 5.8125 3.1875C5.08763 3.1875 4.5 3.77513 4.5 4.5C4.5 5.22487 5.08763 5.8125 5.8125 5.8125Z"
                                        stroke="#505050"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                    </svg>
                                    View
                                 </button>
                                </li>

                                <li>
                                  <a class="dropdown-item" href="#"
                                    ><svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="13"
                                      height="13"
                                      viewBox="0 0 12 13"
                                      fill="none"
                                    >
                                      <path
                                        d="M1 3.19824H2.1H10.9"
                                        stroke="#E01B1B"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                      <path
                                        d="M9.80007 3.2V10.9C9.80007 11.1917 9.68417 11.4715 9.47788 11.6778C9.27159 11.8841 8.99181 12 8.70007 12H3.20007C2.90833 12 2.62854 11.8841 2.42225 11.6778C2.21596 11.4715 2.10007 11.1917 2.10007 10.9V3.2M3.75007 3.2V2.1C3.75007 1.80826 3.86596 1.52847 4.07225 1.32218C4.27854 1.11589 4.55833 1 4.85007 1H7.05007C7.34181 1 7.62159 1.11589 7.82788 1.32218C8.03417 1.52847 8.15007 1.80826 8.15007 2.1V3.2"
                                        stroke="#E01B1B"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                      <path
                                        d="M4.8501 5.94824V9.24824"
                                        stroke="#E01B1B"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      />
                                      <path
                                        d="M7.0498 5.94824V9.24824"
                                        stroke="#E01B1B"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      /></svg
                                    >Delete
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>