<div class="container-fluid py-4">
    <div class="row">
        <div>
            <!-- copy here -->
            <div class="container-fluid">
                <div class="row g-4">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="#">Learning path</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="col-12 col-xl-4 col-xxl-4">
                        <app-number-cards 
                            [requests]="totalRequests"
                            [publishedProjects]="totalPublishedProjects"
                            [acceptedProposals]="totalProposalsAccepted"
                            [sentProposals]="totalProposalsSent" 
                        ></app-number-cards>
                    </div>

                    <div class="col-12 col-xl-8 col-xxl-8">
                        <app-recent-proposals [proposalsList]="proposals" ></app-recent-proposals>
                    </div>

                    <div class="col-12 col-xl-8 col-xxl-8">
                        <app-recent-requests [requestsList]="requests" ></app-recent-requests>
                    </div>

                    <div class="col-12 col-xl-4 col-xxl-4">
                        <app-recent-applications [applicationsList]="applications" ></app-recent-applications>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>