<div class="d-flex flex-column gap-3">
  <div class="card p-3 border-0 shadow">
    <div class="text-center">
      <img
        src="../../img/5.png"
        class="img-fluid mx-auto rounded-circle mb-3"
        alt=""
        style="width: 80px; height: 80px"
      />
      <h6 class="mb-1 fw-semibold">{{organizationDetail?.company_name}}</h6>
      <a href="" class="link-primary text-decoration-none ">{{organizationDetail?.company_website}}</a>
    </div>
    <hr class="mx-auto" style="width: 300px" />
    <p class="mb-3 fw-500">bluetech@gmail.com</p>
    <p class="mb-0">
      {{(isReadMore) ? organizationDetail?.company_description : organizationDetail?.company_description.slice(0, 100)}}
      <button (click)="isReadMore = !isReadMore" class="btn btn-sm link-primary fst-italic p-0">
        {{(isReadMore) ? "read less" : "read more"}}
      </button>
    </p>
  </div>

</div>