<!-- <div
class="tab-pane fade"
id="v-pills-5"
role="tabpanel"
aria-labelledby="v-pills-5-tab"
tabindex="0"
> -->
<form [formGroup]="form" (ngSubmit)="onSubmit()" action="" method="get">
<div class="mb-3">
  <!-- input fealds -->
  <h5 class="heading mb-2">Roles we offer</h5>
  <div class="section_items">
      <div class="row">
        <div class="col-12">
          <div class="form-group mb-2">
            <label for="">Small Heading</label>
            <input
              type="text"
              class="form-control mt-1"
              id=""
              formControlName="smallHeading"
            />
          </div>
        </div>
        <div class="col-12">
          <div class="form-group mb-2">
            <label for="Description"
              >Main Heading</label
            >
            <input
              type="text"
              class="form-control mt-1"
              id=""
              formControlName="mainHeading"
            />
          </div>
        </div>
      </div>
 
  </div>
</div>
<div class="mb-3">
  <!-- input fealds -->
  <h5 class="heading mb-2">Add new roles</h5>
  <div class="section_items">
    
      <div class="row align-items-end ">
        <div class="col-10">
          <div class="form-group mb-2">
            <label for="">Roles</label>
            <input
              type="text"
              class="form-control mt-1"
              id=""
              #roleInput
            />
            
          </div>
        </div>
        <div class="col-2 text-end "><button type="button" class="btn btn-primary mb-2" (click)="addRole(roleInput.value)" >Add</button></div>
      </div>
    
  </div>
</div>
<div class="mb-3">
  <h5 class="heading mb-2">
    Select from existing roles - {{selectedRoles || 0}} Selected
  </h5>
  <div *ngIf="roles.length > 0" class="section_items">
    <div
      class="d-flex align-items-center flex-wrap gap-2"
    >
      <button
        *ngFor="let item of roles"
        type="button"
        class="btn btn-sm btn-outline-dark py-1 px-3 rounded-pill small"
        (click)="selectRole(item?._id)"
        [ngClass]="{
          'btn-dark text-white': item.isSelected
        }"
      >
        {{item?.role}}
      </button>
    </div>
  </div>
</div>

  <!-- all bottom button -->
  <div class="mt-3">
    <hr class="mt-0 mb-3" />
    <div
      class="d-flex align-items-center justify-content-between gap-2 flex-wrap"
    >
      <button
        class="btn btn-outline-primary btn_prev"
        type="button"
        (click)="previous()"
      >
        Previous
      </button>
      <button
        class="btn btn-primary btn_save"
        type="submit"
      >
        Save
      </button>

      <button
        class="btn btn-outline-primary btn-next"
        type="button"
        (click)="next()"
      >
        Next
      </button>
    </div>
  </div>

</form>