<div class="container-fluid py-4">
    <div class="row">
      <!-- <div class="offset-xl-2 col-xl-10"> -->
      <div>
        <div class="container-fluid">
          <div class="row gy-4 align-items-center">
            <div class="col-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                  <li class="breadcrumb-item"><a href="#">Workforce</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Job Requirements
                  </li>
                </ol>
              </nav>
            </div>
            <div class="col-xxl-12">
              <div class="row g-3">
                <div class="col-12 col-md-7">
                  <h6 class="mb-0">All Testimonials</h6>
                </div>
                <div class="col-12 col-md-5">
                  <div
                    class="d-flex align-items-center justify-content-end gap-2 flex-wrap"
                  >
                    <select
                      name=""
                      id=""
                      class="form-select rounded-pill ps-3"
                      style="width: 110px"
                      (change)="sortList($event)"
                    >
                      <option value="" selected disabled>Sort</option>
                      <option value="latest">latest</option>
                      <option value="oldest">oldest</option>
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="tab-content" id="pills-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="pills-home"
                      role="tabpanel"
                      aria-labelledby="pills-home-tab"
                      tabindex="0"
                    >
                      <div class="table-responsive ">
                        <table class="table table-hover mb-2">
                          <thead>
                            <tr>
                              <th>Company Name</th>
                              <th>Person Name</th>
                              <th>Designation</th>
                              <th>Date</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of publishedTestimonials">
                              <td>
                                <div class="d-f;ex align-items-center gap-2">
                                  <img src="../../analytics (1) 1.png" alt="img" class="img-fluid rounded-circle flex-shrink-0 " style="width: 32px;height: 32px;">
                                  {{item?.company_data[0].company_name}}
                                </div>
                              </td>
                              <td>{{item?.posted_by}}</td>
                              <td>{{item?.designation}}</td>
                              <td>{{item?.posted_on | date : "dd-MM-yyyy"}}</td>
                              <td>
                                <div class="d-flex gap-3 align-items-center justify-content-end ">
                                  <button (click)="openTestimonialModal(item?._id)" class="btn p-1 btn-sm" data-bs-target="#view" data-bs-toggle="modal">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="15" viewBox="0 0 21 16" fill="none">
                                      <path d="M1 8C1 8 4.5 1 10.625 1C16.75 1 20.25 8 20.25 8C20.25 8 16.75 15 10.625 15C4.5 15 1 8 1 8Z" stroke="#28B1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                      <path d="M10.625 10.625C12.0747 10.625 13.25 9.44975 13.25 8C13.25 6.55025 12.0747 5.375 10.625 5.375C9.17525 5.375 8 6.55025 8 8C8 9.44975 9.17525 10.625 10.625 10.625Z" stroke="#28B1E6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                  </button>
                                  <button (click)="unPublishTestimonial(item?._id)" class="btn btn-sm btn-outline-danger small">
                                    Remove
                                  </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="pills-profile"
                      role="tabpanel"
                      aria-labelledby="pills-profile-tab"
                      tabindex="0"
                    >
                      Add Paths 1 content
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>