/* You can add global styles to this file, and also import other style files */
@import '~bootstrap-icons/font/bootstrap-icons.css';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

:root {
    --body-font-family: 'Open Sans', sans-serif;
    --body-color: rgb(34, 34, 34);
    --body-font-size: 15px;
    --bs-link-color-rgb: 40, 177, 230;
    --bs-success-rgb: 47, 148, 12;
    --bs-primary-rgb: 40, 177, 230;
    --bs-danger-rgb: 195, 12, 12;
    --bs-body-font-size: 15px;
    --primary: rgba(40, 177, 230, 1);
}

body {
    font-family: var(--body-font-family) !important;
    color: var(--body-color);
    font-size: var(--body-font-size);
    line-height: 1.6;
}

::placeholder {
    font-size: 14px;
}

:focus {
    box-shadow: none;
}

.btn {
    font-size: var(--body-font-size);
}

.btn-primary {
    --bs-btn-bg: #29ade6;
    --bs-btn-border-color: #29ade6;
}

.btn-outline-primary {
    --bs-btn-color: #29ade6;
    --bs-btn-border-color: #29ade6;
    --bs-btn-hover-bg: #29ade6;
    --bs-btn-hover-border-color: #29ade6;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-bg: #29ade6;
    --bs-btn-active-border-color: #29ade6;
}

.form-control:focus,
.btn:focus,
select:focus {
    box-shadow: none !important;
}

.form-control,
.form-select {
    font-size: var(--body-font-size) !important;
    min-height: 40px;
}

.btn:not(.btn-sm) {
    height: 40px;
}
small,
.small {
    font-size: 12.5px;
}
a {
    text-decoration: none;
}

.fs-12 {
    font-size: 12px !important;
}
.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fw-500 {
    font-weight: 500 !important;
}

// line clamp
.line-clamp {
    @mixin clamp {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &-1 {
        @include clamp;
        -webkit-line-clamp: 1;
    }

    &-2 {
        @include clamp;
        -webkit-line-clamp: 2;
    }

    &-3 {
        @include clamp;
        -webkit-line-clamp: 3;
    }

    &-4 {
        @include clamp;
        -webkit-line-clamp: 4;
    }

    &-5 {
        @include clamp;
        -webkit-line-clamp: 5;
    }

    &-6 {
        @include clamp;
        -webkit-line-clamp: 6;
    }
}

// .breadcrumb {
//     .breadcrumb-item {
//         a {
//             color: inherit;

//             &:hover {
//                 color: var(--theme-blue);
//             }
//         }

//         &.active {
//             color: var(--theme-blue);

//         }

//         &::before {
//             color: var(--body-color);
//         }
//     }
// }

table {
    --bs-table-hover-bg: #f8f9fa !important;
    th{
        font-weight: 600;
    }
    td,
    th {
        vertical-align: middle;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-item {
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .dropdown-menu {
        --bs-dropdown-min-width: 7rem;
    }
}

.modal-dialog {
    &.modal-md {
        --bs-modal-width: 720px;
    }
    &.modal-lg {
        --bs-modal-width: 920px;
    }
}

.modal {
    background-color: rgba(0 0 0 / 0.5);
}

label {
    margin-bottom: 2px;
    font-weight: 500;
}
.squre {
    &-md {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-lg {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.opacity_btn_delete {
    background-color: rgba(var(--bs-danger-rgb), 0.15);
    min-height: auto;

    &:hover {
        background-color: rgba(var(--bs-danger-rgb), 0.35);
    }
}

.opacity_btn_add {
    background-color: rgba(var(--bs-link-color-rgb), 0.15);
    min-height: auto;

    &:hover {
        background-color: rgba(var(--bs-link-color-rgb), 0.35);
    }
}

.btn-check:checked + .btn,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
    border-color: transparent !important;
}
.nav-pills {
    --bs-nav-pills-link-active-bg: rgba(40, 177, 230, 1);
    --bs-nav-link-color: rgba(40, 177, 230, 1);

    .nav-link {
        border-radius: 0;
        border-bottom: 2px solid transparent;
        &.active {
            background-color: transparent;
            color: rgba(40, 177, 230, 1);
            border-bottom-color: rgba(40, 177, 230, 1);
        }
    }
}
.timeline_wrapper {
    position: relative;
    border-inline-start: 3px solid var(--bs-border-color);
    padding-left: 1.75rem;
    .timeline_item {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 17px;
            left: -39px;
            width: 16px;
            height: 16px;
            background-color: rgba(var(--bs-link-color-rgb), 1);
            border-radius: 50%;
            border: 3px solid #fff;
        }
    }
}
.bg-opacity-badge-danger {
    color: rgba(var(--bs-danger-rgb), 1);
    background-color: rgba(var(--bs-danger-rgb), 0.15);
    padding: 4px 12px;
    border-radius: 30px;
    font-weight: 500;
}
.bg-opacity-badge-success {
    color: rgba(var(--bs-success-rgb), 1);
    background-color: rgba(var(--bs-success-rgb), 0.15);
    padding: 4px 12px;
    border-radius: 30px;
    font-weight: 500;
}
label > input[type='checkbox']:checked + img {
    border-color: #29ade6 !important;
    transition: all 0.15s linear;
}
.department {
    .timeline_item {
        &::before {
            top: 0;
            left: -38px;
            background-color: rgba(var(--bs-dark-rgb), 0.9);
        }
    }
}

.banner_top {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-block: 50px;
    position: relative;
    &_heading {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.1;
        @media (min-width: 992px) {
            font-size: 42px;
        }
    }
}

.create_company_card {
    width: 60%;
    max-width: 484px;
    border: 1px solid #7f7f7f;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;

    img {
        height: 79px;
        width: 79px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.font- {
    &17 {
        font-size: 17px !important;
    }

    &15 {
        font-size: 17px !important;
    }
}

.fw- {
    &400 {
        font-weight: 400 !important;
    }

    &600 {
        font-weight: 600 !important;
    }
}
.table-responsive{
    &::-webkit-scrollbar {
    height: 4px;
}
}
button:focus{
    box-shadow: none !important;
}
::-webkit-scrollbar {
    width: 8px;
    border-radius: 30px;
}

::-webkit-scrollbar-track {
    background-color: #ededed;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #bcbcbc;

    &:hover {
        background-color: #9b9b9b;
    }
}

$primary: var(--primary);
$green:#03941A;
$red:#ff4040;
// squre_btn
.squre_btn {
	@mixin squre_btn {
		display: flex !important;
		align-items: center;
		justify-content: center;
		width: 26px;
        height: 26px !important;
		padding: 0 !important;
	}

	@include squre_btn;
	transition: all .3s ease-in-out;

	&_md {
		@include squre_btn;
		width: 30px;
        height: 30px !important;
	}

	&_lg {
		@include squre_btn;
		width: 40px;
        height: 40px !important;
	}

	&_xl {
		@include squre_btn;
		width: 50px;
        height: 50px !important;
	}
}

.btn_show {
	background-color: rgba($color: $green, $alpha: .2) !important;
	svg{
		path{
			stroke: var(--body-color); 
			transition: all .3s ease-in-out;
		}
	}

	&:hover {
		background-color: rgba($color: $green, $alpha: 1) !important;
		svg{
			path{
				stroke: #fff;
				transition: all .3s ease-in-out;
			}
		}
	}
}

.btn_delete {
	background-color: rgba($color: $red, $alpha: .2) !important;
	svg{
		path{
			stroke: $red; 
			transition: all .3s ease-in-out;
		}
	}

	&:hover{
		background-color: $red !important;
		transition: all .3s ease-in-out;
		svg{
			path{
				stroke: #fff;
				transition: all .3s ease-in-out;
			}
		}
	}
}
.btn_edit{
	background-color: rgba($color: $primary, $alpha: .2) !important;
	transition: all .3s ease-in-out;
	svg{
		path{
			stroke: $primary; 
			transition: all .3s ease-in-out;
		}
	}
	&:hover{
		background-color: rgba($color: $primary, $alpha: 1) !important;
		svg{
			path{
				stroke: #fff;
			}
		}
	}
}
// all services menu tabs

.landing {
	.nav-pills {
		.nav-link {
			text-align: left;
			color: inherit;
			border-radius: 0;
            border-bottom: 1px solid var(--bs-border-color);

			&.active {
				background-color: rgba(214, 235, 255, 0.8);
                color: var(--body-color) !important;
                border-bottom-color: #29ade6;
			}

			// &:not(:last-child) {

			// 	border-bottom: 1px solid var(--bs-border-color);
			// }
		}
	}
}
.heading {
	font-size: 16px;
	font-weight: 500;
}

.sub_heading {
	font-size: 15px;
	font-weight: 500;
}
.landing{
    .business,
	.client{
        .squre_btn_xl{
            border-radius: 50%;
            border: 1px solid var(--primary);
            background-color: #7C7C7C !important;
        }
    }
    .client{
        .client_img{
            width: 100px;
            aspect-ratio: 1;
            object-fit: cover;
            flex-shrink: 0;
        }
        .btn_delete{
            float: right;
        }
    }
}

.section_items {
	border: 1px solid var(--bs-border-color);
	background-color: #fff;
	padding: 12px;
    border-radius: 6px;
    label{
        font-size: 15px;
    }
	.banner_img_wrapper {
		border: 2px dashed var(--bs-border-color);

		.upload_icon {
			width: 70px;
			aspect-ratio: 1;
			object-fit: contain;
		}
	}
}

.uploaded_files_show {
	.card {
		border: none;
		padding: 6px 0;
		border-radius: 0;

		&:not(:last-child) {
			border-bottom: 1px solid var(--bs-border-color);
		}

		.sm_thumb {
			width: 62px;
			height: 40px;
			object-fit: cover;
			border-radius: 4px;
		}
	}
}

.add_primary {
	svg {
		width: 16px;
		aspect-ratio: 1;
	}

	&:hover {
		svg {
			transition: all .3s ease-in-out;

			path,
			circle {
				transition: all .3s ease-in-out;
				stroke: #fff;
			}
		}
	}
}


.img_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #7C7C7C;

	.icon {
		width: 24px;
		aspect-ratio: 1;
	}
}

.testimonials {
	.client_img {
		width: 100px;
		aspect-ratio: 1;
		object-fit: cover;
        flex-shrink: 0;
	}

	.btn_delete {
		float: right;
	}
}
