<div id="accept" tabindex="-1" aria-labelledby="viewLabel" aria-hidden="true">
    <div >
      <div class="modal-content">
        <div class="modal-body p-4 text-center">
          <div class="row g-4">
            <div class="col-12">
              <p class="mb-0">Thank you for your assistance, admin will look into it and will get back to you as soon as
                possible.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0 justify-content-center gap-2">
          <button (click)="closeModal()" type="button" class="btn btn-light px-3" data-bs-dismiss="modal">
            Cancel
          </button>
          <button (click)="acceptProposal()" type="button" class="btn btn-primary px-3">
            okay
          </button>
        </div>
      </div>
    </div>
  </div>