<div class="container-fluid py-4">
  <div class="row">
      <!-- <div class="offset-xl-2 col-xl-10"> -->
      <div>
          <div class="container-fluid">
              <div class="row gy-4 align-items-center">
                  <div class="col-12">
                      <nav aria-label="breadcrumb">
                          <ol class="breadcrumb mb-0">
                              <li class="breadcrumb-item"><a href="#">Workforce</a></li>
                              <li class="breadcrumb-item active" aria-current="page">
                                  Job Requirements
                              </li>
                          </ol>
                      </nav>
                  </div>
                  <div class="col-xxl-12">
                      <div class="row g-3 align-items-center ">
                          <div class="col-12 col-md-7">
                              <h6 class="mb-0">All jobs</h6>
                          </div>
                          <div class="col-12 col-md-5">
                              <div class="d-flex align-items-center justify-content-end gap-2 flex-wrap">
                                  <select (change)="sortList($event)" name="" id="" class="form-select rounded-pill ps-3"
                                      style="width: 110px">
                                      <option value="" selected disabled>Sort</option>
                                      <option value="latest">latest</option>
                                      <option value="oldest">oldest</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-12">
                              <div class="tab-content" id="pills-tabContent">
                                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                      aria-labelledby="pills-home-tab" tabindex="0">
                                      <div class="">
                                          <table class="table table-hover">
                                              <thead>
                                                  <tr>
                                                      <th>Job Title</th>
                                                      <th class="text-center ">No of resourses</th>
                                                      <th class="text-center">Duration</th>
                                                      <th class="text-center">Experience</th>
                                                      <th class="text-center">Deadline</th>
                                                      <th class="text-end  "></th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr *ngFor="let item of jobs">
                                                      <td>{{item?.job_title}}</td>
                                                      <td class="text-center ">{{item?.job_resources_required}}</td>
                                                      <td class="text-center">{{item?.job_duration}}</td>
                                                      <td class="text-center">{{item?.job_experience}}</td>
                                                      <td class="text-center">{{item?.job_deadline | date : "dd-MM-yyyy"}}</td>
                                                      <td class="text-end">
                                                          <a [class.text-success]="item?.request_status === 'completed'" (click)="openFeedbackModal(item?._id)" class="btn btn-sm p-1 link-primary ">
                                                              {{item?.request_status === "completed" ? "Completed" : "Mark as complete"}}
                                                          </a>
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                                      aria-labelledby="pills-profile-tab" tabindex="0">
                                      Add Paths 1 content
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>