<app-job-form-step-1 *ngIf="step==1"  (submitted)="onNext($event)" ></app-job-form-step-1>
<app-job-form-step-2 *ngIf="step==2" (changeStep)="onBack()" (submitted)="onNext($event)"></app-job-form-step-2>
<app-job-form-step-3 *ngIf="step==3" (changeStep)="onBack()" (submitted)="onNext($event)"> </app-job-form-step-3>